[2016-09-29 23:12] cliftonmcintosh opened #8 "Nepal Map should display total population"
Nepal map should have a demographics section that includes the total population for each level: country and district

[2016-09-29 23:15] cliftonmcintosh opened #9 "Nepal Map should display the education level for the population"
We should use the data in the POPULATION_EDUCATION_LEVEL_PASSED.csv files in the [census-data](https://github.com/Code4Nepal/census-data) project to display educational levels by gender

[2016-09-29 23:19] cliftonmcintosh opened #10 "Nepal Map should display population by disability and sex"
Statistics for population by disability and sex are available in POPULATION_BY_DISABILITY_AND_SEX.csv files in the [census-data](https://github.com/Code4Nepal/census-data) repository.

[2016-09-29 23:36] cliftonmcintosh opened #11 "The "About" section on the landing page could be customized"
The main page has an about section. It currently has the default Wazimap information. We could expand on that to include more information.

Here are examples from other Wazimap implementations:
[Kenya](https://kenya.wazimap.org/)
[South Africa](https://wazimap.co.za/) -- uses the default about section

[2016-09-29 23:54] ravinepal commented on #11
Thanks, @cliftonmcintosh - i'll work on the about section and get everyone's feedback!

[2016-09-30 01:31] studenton opened #12 "Decide a LICENSE for the project"

[2016-09-30 01:38] cliftonmcintosh commented on #12
Wazimap is licensed under the MIT License. Does that affect what license can be chosen for this project?

[2016-09-30 01:43] studenton commented on #12
Not necessarily.
http://programmers.stackexchange.com/questions/264700/paid-software-includes-mit-licensed-library-does-that-put-my-app-under-mit-too

On Fri 30 Sep, 2016, 7:23 AM Clifton McIntosh, <notifications@github.com>
wrote:

[2016-09-30 23:36] ravinepal commented on #12
My belief is that all of the work we do should be open for everyone's use, generally under creative commons? Perhaps something like this?
"This work is licensed under a Creative Commons Attribution -ShareAlike 3.0 License."

What do you guys think?

[2016-09-30 23:43] ravinepal opened #14 "Data pipeline"
Hi @cliftonmcintosh  - here's my proposal. Please feel free to organize or prioritize that you think is most effecient. I'll continue to update this as I go through Nepal census 2011 (What I have below is mostly from from [Nepal Census 2011.](http://cbs.gov.np/image/data/Population/National%20Report/National%20Report.pdf))
1. Cooking Fuel **(Done)**
2. Education data - [Population aged 5 years and

[2016-10-01 01:39] cliftonmcintosh commented on #14
@ravinepal Thanks. This is useful.

For the education data, I believe these two files cover two of the things you mentioned:
`POPULATION_EDUCATION_LEVEL_PASSED.csv` covers Literate population aged 5 years and above by educational attainment (level passed)
`POPULATION_LITERACY_STATUS_AND_SEX_5_AND_ABOVE.csv` covers Population aged 5 years and above by literacy status.

Is that correct?
Is there dat

[2016-10-01 03:34] ravinepal commented on #14
Yes! And Population above SLC (National examination of grade 10 passed)  is also in Census. We recently had extracted and cleaned it too. Here's the Google doc: https://docs.google.com/spreadsheets/d/1oPw90R1h06NkiHMN-A6kvM2M5TDDwugZCR1JrQ9aROQ/edit#gid=0

[2016-10-01 17:33] prashishh opened #16 "Setup Development Environment"
Setup development environment for the project.

- [ ] AWS
- [ ] Heroku
- [ ] Google app engine

[2016-10-01 17:35] cliftonmcintosh commented on #9
A table has been created. See [this commit](https://github.com/Code4Nepal/nepalmap_app/commit/087c238dc0a8ac007a718340989dd72df8e4a54a)

For help in knowing how to normalize the data, here is the table creation statement:
[code]

[2016-10-01 19:23] cliftonmcintosh commented on #8
Note that this can be done along with any census data set that includes the full population. For example, the data set for population by disability and sex will have the full population. When that data set is imported, Wazimap has a method that allows us to get the total population when we display that data set. Each get_stat_data call in the profile returns a tuple, the second member being the to

[2016-10-01 20:54] ravinepal commented on #16
sounds like  EC2 from Amazon, is a good option. We will will have to pay if we get huge traffic. so for us, AWS, works well. I can create Code for Nepal's account, and share the details.

I found this useful as I consdiered options: https://www.quora.com/Is-there-somewhere-I-can-host-my-django-web-app-for-free

[2016-10-03 13:04] cliftonmcintosh opened #18 "Keeping branches in sync before environments are set up"
Can we keep the master, test and dev branches in sync until environments are spun up?

Here is my suggestion:

- All pull requests are made on the dev branch.
- As long as there is no test environment and no production environment, whenever a pull request is merged in dev, we also merge it into test and master.
- When we have a test environment spun up, we stop automatically merging dev into test

[2016-10-03 17:02] studenton commented on #18
@prashishh

[2016-10-04 06:38] prashishh commented on #16
EC2 it is!

[2016-10-04 06:41] prashishh commented on #18
@cliftonmcintosh - What is the reason for suggesting this flow? Until the production or test environment is up, there isn't any reason to merge `dev` to `test` or `master`. I'm not against it though. If you think it should be the case, let's merge `dev` to `test` and `master`. +1

[2016-10-04 06:50] prashishh commented on #16
I did a bit of research and it is clear which one is more cost effective for our long term use. We could use either Heroku or AWS for our development, but for production, we will need to weigh in both Heroku & Django.

I think dev environment will be a good testing ground for both cloud platforms.

[2016-10-04 07:01] prashishh opened #19 "Change name of repository"
I would like to open a discussion to change the name of the repository.

Reason:
- The project should have a unique name.
- `_app` post-fix doesn't sound right.

Suggestions open.

[2016-10-04 07:03] prashishh commented on #16
Reference for AWS Elasticbeanstalk: http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-django.html

[2016-10-04 07:12] studenton commented on #19
How about using nepali word for census: जनगणना ?

[2016-10-04 11:53] cliftonmcintosh commented on #19
Yes, the name should be changed.

[2016-10-04 11:59] cliftonmcintosh commented on #18
@prashishh

It's true. `master` and `test` are totally unused right now, so merging the `dev` branch into them will have no effect. On the other hand, the complexity of separate branches is only there to "protect" the `master` branch and the `test` branch. Until that code is being used, we have nothing to protect.

I don't have strong feelings about this.

What I propose as an alternative is to se

[2016-10-04 12:01] cliftonmcintosh opened #20 "Show population aged 5 years and above by literacy status"
This is part of number 2 in the data pipeline

[2016-10-04 12:02] cliftonmcintosh opened #21 "Show population above SLC (National examination of grade 10 passed) by major field of study"
This is part of number 2 in the data pipeline

[2016-10-04 12:02] cliftonmcintosh opened #22 "Show households by ownership of house/housing unit in use"
This is number 3 in the data pipeline

[2016-10-04 12:03] cliftonmcintosh commented on #20
This is part of number 2 in the data pipeline

[2016-10-04 12:04] cliftonmcintosh opened #23 "Show households by foundation of house/housing unit"
This is number 4 in the data pipeline

[2016-10-04 12:43] cliftonmcintosh opened #24 "Show households by outer wall of house/housing unit"
This is number 5 in the data pipeline

[2016-10-04 12:44] cliftonmcintosh opened #25 "Show households by roof of house/housing unit"
This is number 6 in the data pipeline.

[2016-10-04 12:44] cliftonmcintosh opened #26 "Show households by source of drinking water"
This is number 7 in the data pipeline

[2016-10-04 12:45] cliftonmcintosh opened #27 "Show households by usual source of lighting"
This is number 9 in the data pipeline

[2016-10-04 12:46] cliftonmcintosh opened #28 "Show households by types of toilet"
This is number 10 in the data pipeline

[2016-10-04 12:55] cliftonmcintosh opened #29 "Internationalize the text"
We should see if Wazimap supports internationalization of text so that we are not limited to English. If so, we should update what has been done so far so that it is internationalized and have all future commits internationalized.

The [Wazimap Kenya](https://github.com/CodeForAfrica/Wazimap.Kenya) project and [Wazimap South Africa](https://github.com/Code4SA/wazimap-za) seem not to use internatio

[2016-10-04 13:51] ravinepal commented on #19
How about Nepal Census?

On Tuesday, October 4, 2016, Clifton McIntosh <notifications@github.com>
wrote:

--

*@ravinepal <http://www.twitter.com/ravinepal>*
[image: http://ravinepal.com]

Ravi Kumar @RaviNepal
[image: http://]www.ravinepal.com
<http://ravinepal.com>

[2016-10-04 14:28] cliftonmcintosh commented on #19
Is @prashishh 's main concern the repo name?

[2016-10-04 17:34] prashishh commented on #19
It is a small concern @cliftonmcintosh. Since we are creating all possible issues, I just put it out here for discussion.

[2016-10-04 17:35] prashishh commented on #18
I agree @cliftonmcintosh. 👍

[2016-10-04 17:39] cliftonmcintosh commented on #18
I've set the default branch to `dev`.

[2016-10-04 17:39] #18 closed

[2016-10-04 21:55] prashishh commented on #16
Update: @prerakpradhan is going to help us deploy the application to AWS Elastic Beanstalk. I have sent the credentials to him for further progress.

He is currently working with Microsoft Azure team but has good experience with AWS.

[2016-10-05 00:56] ravinepal opened #30 "Customization of the platform to meet Code for Nepal color guidelines"
hi team, we use three colors at code for nepal:

Red: #E00015
Blue: #00ADEF
White: #ffffff

for example, check out www.asknepal.info

[2016-10-06 10:01] studenton commented on #30
I'll look into this.

[2016-10-07 07:36] prashishh commented on #16
Thanks to @prerakpradhan, we were able to host our dev instance in Azure - http://13.93.215.195:8000/

[2016-10-07 07:36] #16 closed

[2016-10-07 11:03] ravinepal commented on #30
@studenton thanks for making some changes! Could you pls also make the background white? and then pls push the update to reflect on http://13.93.215.195:8000/

[2016-10-07 11:26] ravinepal commented on #16
This is great, prashish! Thank you so much @prerakpradhan! pls email me details at ravi@codefornepal.org to direct http://13.93.215.195:8000/ to our godaddy domain!

[2016-10-07 11:28] ravinepal commented on #11
@studenton here's the text for the homepage/about section (shared the doc with your c4n email): https://docs.google.com/document/d/1PYBGVX-hl2ZH6W3QKaO5JEMSDvX0N3lYsiIbbcD6dag/edit#

Pls note there's a text (just below the map to replace and then about section for the homepage. happy to chat via skype or FB if you have qs!

[2016-10-07 12:01] cliftonmcintosh opened #35 "age range for education level"
@studenton and @ravinepal
Can you confirm the age range for education level? I ask because the totals are different for POPULATION_EDUCATION_LEVEL_PASSED.csv and POPULATION_LITERACY_STATUS_AND_SEX_5_AND_ABOVE.csv. If my script is correct, there are 16,101,177 people in education level but 23,926,541. If you can let me know what the age range is for education level, I can adjust the text in Nepal M

[2016-10-07 12:04] cliftonmcintosh commented on #21
@ravinepal

Can you provide a comment to this ticket with a link to the data for population above SLC by major field of study?

[2016-10-07 12:19] ravinepal commented on #21
@cliftonmcintosh thanks. we'd like to. pls allow me to find data and get back to you soon.

[2016-10-07 12:27] ravinepal commented on #35
@cliftonmcintosh sorry for the confusion. This data is the most accurate -- the age range is 5 and above: https://github.com/codefornepal/data/blob/master/datasets/census/population_education_level.csv

[2016-10-07 13:05] cliftonmcintosh commented on #22
@ravinepal

What's the data set for this? I don't see one in census-data that seems to fit.

[2016-10-07 13:07] cliftonmcintosh commented on #35
@ravinepal

Thanks. That's interesting that the census would use age 5 and up is the population for education level passed. It seems to me like adults would be a more sensible age group. After all, the number of 5 year olds with an SLC will surely always be zero!

@studenton

Will this data set be imported into census-data or do we need to import it directly into the map project?

[2016-10-07 15:13] studenton commented on #30
@ravinepal I'll need the server details for http://13.93.215.195:8000 to push the changes.

[2016-10-07 15:16] codefornepal commented on #30
thanks, @studenton/ @prashishh and @prerakpradhan -- grateful if you could email server details at amit@codefornepal.org and ravi@codefornepal.org We will share with Cliff as well.  Thanks! (We should make some of these changes soon to avoid any copyright issue. Amit is kindly making it a priority.)

[2016-10-07 16:04] studenton opened #37 "Customize About Us page"
We need relevant content for [about us](http://13.93.215.195:8000/about) page.

[2016-10-07 22:46] cliftonmcintosh opened #38 "Workflow for branches and deployment"
@prashishh

Would you have a few minutes to describe the workflow that you think is best for merging work into the different branches and deploying the `test` and `master` branches? I'm particularly curious about how and when work goes from the `dev` branch into `test` and when those changes get deployed to an environment.
- What is the strategy for merging `dev` into `test`?
- Will merges be on a

[2016-10-08 01:55] ravinepal commented on #14
@cliftonmcintosh, as I mentioned earlier, the list above is mostly based on table of content from the official census report. As I comapre the dataset we have on our Github project, I realize we don't have all the data from census yet. So to move things forward, how about we this list at the moment. I'm going to make four data set in **BOLD** as you have already started to work on them. (If I miss

[2016-10-08 03:02] cliftonmcintosh commented on #14
@ravinepal

Thanks. We can move forward with importing data from the CSVs you listed. Because they are in standardized formats in the census-data project, it will be easy to import them.

[2016-10-08 09:05] studenton opened #41 "Decide and Create a Favicon"
We need a favicon for the web page. And a **144 * 144** touch icon for smartphones. Currently, it uses the default favicon of Census Reporter.

[2016-10-08 13:28] cliftonmcintosh opened #44 "Change bar chart colors to fit Code for Nepal color scheme"
The current bar charts are green and orange. Are there other options that might match the Code for Nepal color scheme better?

Here is a sample of the current color scheme:
![green-orange-bar-charts](https://cloud.githubusercontent.com/assets/3824492/19213387/220f411e-8d31-11e6-86ee-d40c0376e233.png)

[2016-10-08 13:30] studenton commented on #44
@cliftonmcintosh C4N colors schemes are red and blue. I'll see where the styles for graphs are. Thanks for pointing out.

[2016-10-08 13:37] #37 closed

[2016-10-08 16:31] #41 closed

[2016-10-09 07:36] #11 closed

[2016-10-09 12:07] ravinepal opened #50 "change background color"
@studenton @cliftonmcintosh - i was thinking we have background color of the homepage to alternate between #FFF and #F7F7F7. I think that makes the site look much cleaner. What do you think?
![screen shot 2016-10-09 at 8 03 49 am](https://cloud.githubusercontent.com/assets/3759081/19220255/15bdda12-8df7-11e6-891a-d47423d66cfc.png)

If you guys agree, @studenton - could you pls make the changes whe

[2016-10-09 14:02] ravinepal commented on #14
@cliftonmcintosh here's: Life expectancy and income in Nepal, Human Development Report 2014 https://github.com/codefornepal/data/blob/master/datasets/hdi/life%20expectancy-income.csv

[2016-10-09 14:40] cliftonmcintosh commented on #14
@ravinepal

What are the priorities for bringing in data? Do we want the rest of the census-data csv files to be imported before turning to other data sources? Are there other data sources that should be prioritized before the remaining census-data CSVs are processed? Below is a list of the ones remaining. Among those, `HOUSEHOLD_FACILITY.csv`, `DRINKING_WATER_SOURCE.csv`, `LIGHTING_FUEL.csv`, `OW

[2016-10-09 15:46] ravinepal commented on #14
Thanks, Cliff!

I'd suggest we import CSVs Census-data as you listed first:

DRINKING_WATER_SOURCE.csv
HOUSEHOLD_FACILITY.csv
HOUSEHOLD_POPULATION_SIZE.csv
LIGHTING_FUEL.csv
OWNERSHIP.csv
POPULATION_5_25_SCHOOL_ATTENDENCE_SEX.csv

Then I'd suggest we look at a few other CSVs (perhaps 5 dataset) -- I'm
happy to list those soon! My hope is even for our MVP, we try to tell a
comprehensive story of di

[2016-10-10 04:24] studenton commented on #50
@ravinepal It's a good idea. I'll work on it.

[2016-10-10 12:51] cliftonmcintosh commented on #14
@ravinepal

The CSVs remaining to be imported are

HOUSEHOLD_FACILITY.csv
HOUSEHOLD_POPULATION_SIZE.csv

I'm not sure yet how to process HOUSEHOLD_POPULATION_SIZE.csv. I will look for an example of how similar data is handled in some of the Wazimap projects.

[2016-10-10 23:15] ravinepal commented on #50
thanks, @studenton! could you pls also add code for nepal logo/URL on the top right corner after Twitter logo, like they have here: https://wazimap.co.za/ (Sorry I know you had suggested earlier and I said it's ok to not have it. Now I think it would be useful to have c4n logo on the top right corner.)

[2016-10-10 23:25] ravinepal opened #56 "User help and feedback"
Census reporter has this nice way of gathering feedback and responding: https://censusreporter.uservoice.com/

Perhaps we can explore how to do inculde this feature in the near future!

[2016-10-11 08:51] studenton commented on #50
@ravinepal Tried it but since our we don't have logo of that dimension, it isn't looking good. I tried cropping it, but image looks distorted and unusual. If any designer can help us make logo of 467 * 75 pixels, it would fit perfectly.

[2016-10-12 01:59] ravinepal commented on #50
thanks, @studenton! I'll ask a designer. In the meantime, can you use this logo?
![codefornepal_logo_latest](https://cloud.githubusercontent.com/assets/3759081/19294808/ec1784ca-8ffd-11e6-86c6-4c107bebbd60.jpg)

[2016-10-12 02:02] ravinepal commented on #50
![codefornepal_logo](https://cloud.githubusercontent.com/assets/3759081/19294864/53fadd1c-8ffe-11e6-9dd6-84c5eafc1881.jpg)
Thanks, @studenton! I'll ask a designer! In the meantime, can you use this logo?

[2016-10-16 12:27] studenton commented on #50
@ravinepal Nope, that logo doesn't fit it either.
![screenshot from 2016-10-16 18 11 53](https://cloud.githubusercontent.com/assets/8587189/19417414/216bc79a-93cc-11e6-81f2-db1185e99ad2.png)

[2016-10-16 12:48] ravinepal opened #58 "how can users/volunteers submit data in a format that can be used on NepalMap"
perhaps we can have a wiki to explain to people how they can do that?

[2016-10-18 01:27] ravinepal opened #62 "Launched!"
http://www.nepalmap.org/

[2016-10-18 01:27] #62 closed

[2016-10-18 01:31] #30 closed

[2016-10-18 01:32] ravinepal commented on #50
thanks, @studenton!

[2016-10-18 01:32] #50 closed

[2016-10-18 01:32] #19 closed

[2016-10-18 01:33] ravinepal commented on #12
MIT License!

[2016-10-18 01:33] #12 closed

[2016-10-18 02:02] cliftonmcintosh commented on #12
@ravinepal

Here is a pull request adding the license to the README: https://github.com/Code4Nepal/nepalmap_app/pull/63

[2016-10-18 02:07] cliftonmcintosh commented on #14
@ravinepal

Please let us know what data we need next. Unless I hear otherwise, I wll focus on:
- HOUSEHOLD_FACILITY.csv from the census-data project
- field of study from https://github.com/codefornepal/data/blob/master/datasets/census/population_field_of_study.csv

But if there are things that are more important, please let me know.

[2016-10-18 02:16] cliftonmcintosh opened #64 "Show households by household facilities"
This is 11 in the data pipeline

[2016-10-18 05:50] prashishh opened #65 "Map view of tabular data doesn't work"
Steps to reproduce:
- Search by District
<img width="1139" alt="screen shot 2016-10-17 at 10 48 32 pm" src="https://cloud.githubusercontent.com/assets/966151/19465839/e238b86c-94bb-11e6-89dd-393756b8ce2f.png">
- Select "Show data" of any visualization. (lower right of a graph)
- Select "Map" view.

<img width="519" alt="screen shot 2016-10-17 at 10 45 53 pm" src="https://cloud.githubusercontent.co

[2016-10-18 05:53] prashishh opened #66 "Pretty URI (for districts)"
URI of districts have district number in them - http://nepalmap.org/profiles/district-19-sindhuli/

Is it possible to show only the district name?

[2016-10-18 06:00] prashishh commented on #58
We can have a wiki link in the About section explaining how people can submit their data or create a visualization from their data.

But, how do we validate their data?

Question - Does Wazimap allow visualization from different data sources to be grouped together? @cliftonmcintosh

[2016-10-18 06:04] prashishh commented on #56
Great idea! We should look for a Django plugins or Wazimap integration. Discussion among our visitors will show good activity in the website.

[2016-10-18 06:05] prashishh commented on #44
+1

[2016-10-18 06:07] prashishh commented on #44
@ravinepal - good point.
@studenton - thanks for getting on this.

FYI - Instead of MVP label, we can use MVP as our Milestone. That way, we can see all the issues related to the Milestone and burn down rate in the 'Burndown' section.

<img width="1012" alt="screen shot 2016-10-17 at 11 06 36 pm" src="https://cloud.githubusercontent.com/assets/966151/19466240/724af436-94be-11e6-80b5-496d433a1bba.p

[2016-10-18 06:19] prashishh commented on #38
I totally missed this. Sorry for the late response.

Here is what I think, please let me know your thought on the strategy described below.
1) & 2) - We can plan out releases - release, basically would mean the `dev` branch merging to `test` branch and eventually moving up the chain - `stage`, `master`. I would exclude staging in our case because of our limited resources. We can roll our releases

[2016-10-18 06:23] prashishh opened #67 "Twitter link in the navigation bar"
Twitter icon in the navigation bar takes you away from the website.

<img width="382" alt="screen shot 2016-10-17 at 11 23 35 pm" src="https://cloud.githubusercontent.com/assets/966151/19466579/be132c92-94c0-11e6-9839-2b3d6f2af84f.png">

[2016-10-18 06:29] prashishh opened #68 "Breakdown by city within a district."
More of a research task.

Would be amazing!

[2016-10-18 06:32] prashishh opened #69 "Write Instruction to download data in README"
One of the nicest feature of Wazimap is to allow people to download certain portions of data in different universal formats. We should write that in the About section & README to encourage people to download and play with data.

[2016-10-18 06:34] prashishh opened #70 "Logo for the project"
Speaks identity & brand.

[2016-10-18 06:37] prashishh opened #71 "More descriptive data category"
We can research on how to word headings better for search results.

<img width="1112" alt="screen shot 2016-10-17 at 11 35 44 pm" src="https://cloud.githubusercontent.com/assets/966151/19466819/806cb910-94c2-11e6-8c8a-64d9d525798f.png">

[2016-10-18 06:40] prashishh opened #72 "Integrate Analytics"
Integrate Google Analytics or any other  other analytics to understand behavior.

We can also try to understand which data set people are looking for in search (and failing)?

[2016-10-18 06:42] prashishh opened #73 "Create simple steps to contribute their first pull request to NepalMaps"
This will encourage people to contribute to this project & open-source, in general.

[2016-10-18 07:10] studenton commented on #72
If we go with Google Analytics, we'll need to add a Privacy Policy as well.

Here's a snippet from the google TOS:

[2016-10-18 07:39] studenton commented on #67
I gave it a try. The wazimap base template is structured in such a way that you can't override the twitter logo section. To change it, I had to override the whole head block.

Have a look at this [commit](https://github.com/studenton/nepalmap_app/commit/257aa93ed3877a8da6310c82de65eb0e75a7e2cf)

For the time being, this is the only way. Should I merge it? @prashishh

I have opened a [new issue](ht

[2016-10-18 07:41] studenton opened #74 "Minification of resources"
The CSS and JS of the site can be minified to speed up loading time. We'll need to research how it is done in Django.

[2016-10-18 08:10] ravinepal commented on #14
Thanks, Cliff. After household, it'd be great to have income & life
expectancy. It's in the data pipeline!

On Monday, October 17, 2016, Clifton McIntosh <notifications@github.com>
wrote:

--

*@ravinepal <http://www.twitter.com/ravinepal>*
[image: http://ravinepal.com]

Ravi Kumar @RaviNepal
[image: http://]www.ravinepal.com
<http://ravinepal.com>

[2016-10-18 12:50] cliftonmcintosh commented on #65
It [doesn't work in Wazimap Kenya](https://kenya.wazimap.org/data/map/?table=AGEINCOMPLETEDYEARS_RURALORURBAN_SEX&geo_ids=county|country-KE&primary_geo_id=county-8), either, so this may be a bug in the framework.

Wazimap Kenya has hidden the Find Data element on the main page, but the failing map view can still be accessed there via the Show Data link under a chart. From there, the map view of th

[2016-10-18 12:53] cliftonmcintosh commented on #66
Current functionality is default for wazimap. It just happens.

http://i.imgur.com/YsbKHg1.gif

[2016-10-18 15:06] prashishh commented on #72
Makes sense. I'll look around if similar apps in the web have analytics in them.

[2016-10-18 15:11] prashishh commented on #67
Great job! Did you verify responsiveness of the new code block?

With this customization, we can be creative to what we can add in the navigation bar instead of the twitter handle.

[2016-10-18 15:26] prashishh commented on #73
http://thecodinglove.com/post/151975280357/when-i-follow-the-documented-steps-to-generate-my

[2016-10-18 15:36] prashishh commented on #74
We can also open a PR to Wazimap. :)

[2016-10-18 15:57] studenton commented on #67
It's responsive. Yes, I'll push it to the main repo then?

[2016-10-18 16:03] prashishh commented on #67
Please go ahead.

On Oct 18, 2016 8:57 AM, "Amit Chaudhary" <notifications@github.com> wrote:

[2016-10-18 22:03] #67 closed

[2016-10-19 02:36] cliftonmcintosh commented on #64
@ravinepal

How do we want the household facility statistics displayed? Percentages? As in x% have a radio? If so, would it be a row (or two) of text? Is there a way to present this in a chart or graph?

[2016-10-20 00:02] ravinepal commented on #68
We need shape files for those, @prashishh. Is there a way to extract from http://www.openstreetmap.org/

We are also looking for shape files of VDCs. Can you spread the word among the mappers community to see if anyone can help?

[2016-10-20 00:40] cliftonmcintosh commented on #64
@ravinepal

Here is a sample of how [Wazimap South Africa](https://wazimap.co.za/profiles/country-ZA-south-africa/) displays similar data.

![sa-household-goods](https://cloud.githubusercontent.com/assets/3824492/19542439/c96a0c7c-9633-11e6-8511-f7576d788ddf.png)

[2016-10-20 07:17] prashishh commented on #68
Tagging Pratik (@jedi-knight) who works at Kathmandu Living Labs to give us more insight.

[2016-10-20 08:36] jedi-Knight commented on #68
Hi there, exciting to see the project. The site looks amazing!
Regarding the issue:
You can download the OSM data in shp format from this site: http://download.geofabrik.de/asia/nepal.html They're updated daily.
Then, using QGIS, you can extract the city/municipality and vdc boundaries by querying for the attributes _boundary=administrative_  and _admin_level=8_
These boundaries haven't been fully

[2016-10-21 02:12] cliftonmcintosh commented on #65
I have created a [PR for Wazimap](https://github.com/Code4SA/wazimap/pull/57) to correct a JavaScript error that appeared to be causing this bug.

Here's a screenshot of what it looks like locally after fixing that bug.

![data-map-sample-load](https://cloud.githubusercontent.com/assets/3824492/19584415/e2c1a938-9709-11e6-8d8b-fd04c897d804.png)

[2016-10-21 10:06] studenton commented on #72
#78

[2016-10-21 15:42] #65 closed

[2016-10-21 16:07] #72 closed

[2016-10-22 00:04] ravinepal opened #81 "Comment from a user -- regarding presentation of info"
For the Disabled category, it would make more sense to show % of people disabled in the district, and use that as the basis of comparison.
E.g. saying a district has 10,000 disabled, which is less than 10% of Nepal's 500,000 disabled, isn't that meaningful.
But instead, we could say 1.6% of people in this district are disabled, compared to 2.0% nationally.
And when the percentage is low, it may be

[2016-10-22 01:50] cliftonmcintosh commented on #65
This fix has been deployed to www.nepalmap.org

![issue-65-fix-screenshot](https://cloud.githubusercontent.com/assets/3824492/19616077/0422ea1c-97d0-11e6-9dbd-de729a867172.png)

[2016-10-22 14:45] ravinepal opened #82 "fix logo on map display page"
@studenton -- i just there are still some pages where we see the old logo. could you pls take it out when you get a chance? http://www.nepalmap.org/data/map/?table=HOMEOWNERSHIP&geo_ids=country-NP,district|country-NP&primary_geo_id=country-NP#column%7COWNED%2Csumlev%7Cdistrict

[2016-10-22 15:36] studenton commented on #82
Fixed @ravinepal

[2016-10-22 15:57] cliftonmcintosh commented on #81
@ravinepal

Here are two screenshots that display a percentage for disability rather than a population count. The first is just one district. The second is a comparison across two districts. This is a straightforward change. A change for "1 in 60" would require a little more work.

As far as the "about 90 percent of the rate in Nepal" language goes, those sorts of descriptive comparison texts are

[2016-10-22 16:09] cliftonmcintosh commented on #66
@prashishh

The URIs are designed this way so that Wazimap knows which geography it needs to get data for. See [here](https://github.com/Code4SA/wazimap/blob/master/wazimap/urls.py#L40). Uniqueness of a geography is based on a combination of the level (such as "district") and the identifier at that level (such as "74"). Wazimap uses those parts of the URL to make the right database calls.

[2016-10-22 18:11] #82 closed

[2016-10-22 18:12] prashishh commented on #66
@cliftonmcintosh - Oh, I see. Thanks for the explanation. Appreciate it.

[2016-10-22 19:42] #64 closed

[2016-10-22 19:42] #9 closed

[2016-10-22 19:42] #20 closed

[2016-10-22 19:42] #8 closed

[2016-10-22 19:42] #10 closed

[2016-10-22 19:42] #23 closed

[2016-10-22 19:42] #24 closed

[2016-10-22 19:42] #28 closed

[2016-10-22 19:42] #25 closed

[2016-10-22 19:42] #22 closed

[2016-10-22 19:42] #27 closed

[2016-10-22 19:43] #26 closed

[2016-10-22 20:59] ravinepal commented on #81
@cliftonmcintosh thanks for making the changes. I think it's good for now! We can def explore more in the future!

[2016-10-22 20:59] #81 closed

[2016-10-22 21:08] ravinepal opened #86 "Upload and integrate VDC level data"
I just shared VDC shape file with @cliftonmcintosh today. He is working to convert them into geojson files. We are looking for help to match up VDC names with the VDC names that are in the census-data files.

[2016-10-22 21:14] ravinepal opened #87 "Extract and clean population projection for 2030"
@studenton I know you had started to extract and clean the data. Could you pls upload the file on Github when you can. If we can add the projection data for 2030 -- then it'd be nice as the last census was in 2011--almost 6 years ago! it'd be good to have data that helps us realize what to expect in the future :)

Here's PDF if you need: http://cbs.gov.np/image/data/Population/Population%20project

[2016-10-22 22:46] cliftonmcintosh commented on #86
Preliminary data is in [this repository](https://github.com/Code4Nepal/geo). Specific VDCs will need to be matched to VDCs that are in the [census-data project](https://github.com/Code4Nepal/census-data). For this to work with the Wazimap framework, each VDC should have a unique code assigned to it.

[2016-10-22 23:31] ravinepal opened #89 "Validate Twitter card for NepalMap"
details: https://dev.twitter.com/cards/getting-started

Content: @codefornepal
Content creator: @codefornepal
Site: @codefornepal

[2016-10-23 11:37] alexspyr commented on #89
Is this still open ?

[2016-10-23 12:27] ravinepal commented on #89
Hi @alexspyr! Yes it is!

[2016-10-23 15:36] cliftonmcintosh commented on #86
Here are some things that will need to be done to display VDC data:

* Assign a code of 10 characters or less to every VDC. This code must be unique at the VDC level. (Uniqueness per-district is not sufficient.)
* Create a new `vdc.geojson` file in which each VDC has a properties element that matches the structured described in [here](https://github.com/Code4Nepal/nepalmap_app/blob/dev/wazimap_np/

[2016-10-23 17:51] cliftonmcintosh commented on #14
@ravinepal

The [life expectancy and income file](https://docs.google.com/spreadsheets/d/1uEaLKC_YEd5q3Wvr32ItLghSnhZk8lJfsMqxFK-L4DA/edit#gid=0) lists per-district figures. Are there also national figures available?

[2016-10-23 18:08] ravinepal commented on #14
@cliftonmcintosh thanks for asking. Here are national figures:

Life Expectancy 68.80 years
Per capita income: 1,160 USD

Source: Nepal Human Development Report 2014

[2016-10-23 18:14] ravinepal commented on #82
Thanks, @studenton!

[2016-10-25 23:36] cliftonmcintosh commented on #14
@ravinepal

There are two sheets in the [life expectancy and income file](https://docs.google.com/spreadsheets/d/1uEaLKC_YEd5q3Wvr32ItLghSnhZk8lJfsMqxFK-L4DA/edit#gid=0). Which one is accurate, "Sheet 1" or "life expectancy"?

[2016-10-25 23:39] ravinepal commented on #14
@cliftonmcintosh "sheet 1" i used "life expectancy" just to organize data to figure out the highest life expectancy or income :)

[2016-10-26 01:06] cliftonmcintosh commented on #14
Thanks

[2016-10-26 15:40] cliftonmcintosh commented on #14
Thanks

On Tue, Oct 25, 2016, 6:39 PM ravinepal <notifications@github.com> wrote:

[2016-10-27 05:49] #73 closed

[2016-10-27 12:34] barbier commented on #74
Why not use node with gulp for it?

[2016-10-27 12:52] cliftonmcintosh commented on #74
@barbier

The CSS and JavaScript are in an upstream Django project, [Wazimap](https://github.com/Code4SA/wazimap). Wazimap (or Django) may have a way to minify resources. If so, I think we should use that. If Wazimap does not have the ability to minify, we might consider a PR to Wazimap to add that ability.

I would suggest that this should be configurable by environment because minified JS is har

[2016-10-28 01:47] cliftonmcintosh opened #93 "Add life expectancy figures"

[2016-10-28 01:48] cliftonmcintosh opened #94 "Add per capita income"

[2016-10-28 02:46] ravinepal opened #95 "add fb & c4n favicon by twitter on nepamap"
amit - just wanted to create the issue as you asked. we discussed this in slack a few days ago.

[2016-10-28 17:47] ravinepal opened #96 "open PDF link in a new window"
thanks @cliftonmcintosh for uploading the income and life expectancy data. i suggest we open the PDF link of the data source in a new window

http://www.nepalmap.org/profiles/country-NP-nepal/#demographics-life-and-icome

Also we clarify that it's PDF. See below

Source: Nepal Human Development Report 2014 (PDF)

[2016-10-28 17:48] ravinepal commented on #94
Thank you!

[2016-10-28 17:48] #94 closed

[2016-10-28 17:48] ravinepal commented on #93
Thank you, Cliff!

[2016-10-28 17:48] #93 closed

[2016-10-28 21:27] #96 closed

[2016-10-29 17:39] #35 closed

[2016-10-30 07:23] studenton commented on #95
I added the facebook logo. Favicon size is too small.Do we have any SVG file for favicon?

![screenshot from 2016-10-30 13 06 18](https://cloud.githubusercontent.com/assets/8587189/19835038/d9599fa0-9ea1-11e6-96ff-dc1b11d31973.png)

[2016-10-31 10:34] studenton commented on #95
@ravinepal I added facebook logo for now.

[2016-10-31 11:41] cliftonmcintosh commented on #87
@studenton This is done, right?

[2016-10-31 12:37] studenton commented on #87
@cliftonmcintosh No. Only a portion of the PDF has been been scraped.

[2016-11-01 12:30] studenton commented on #87
Completed [all](https://github.com/Code4Nepal/population-projection).

[2016-11-01 12:30] #87 closed

[2016-11-02 23:37] ravinepal commented on #95
thanks, @studenton! appreciate it!

[2016-11-02 23:37] #95 closed

[2016-11-02 23:38] #89 closed

[2016-11-02 23:53] ravinepal commented on #87
Thanks, @studenton! This is great!!

[2016-11-03 14:12] studenton commented on #69
How about using video? Here's a screencast I made.

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/hm9nQQT8OWY/0.jpg)](https://www.youtube.com/watch?v=hm9nQQT8OWY)

[2016-11-08 13:53] cliftonmcintosh opened #106 "Update "about" text with "Wazimap" as what NepalMap is based on instead of "Wazimap Kenya""
Our about text says that NepalMap is based on Wazimap Kenya. I suggest a different emphasis on Wazimap rather than on Wazimap Kenya. That is because:

- Wazimap Kenya is good example of a Wazimap implementation, and we have used it as an example when building NepalMap. However,
- the platform we are using is Wazimap itself.

 I suggest something like:
NepalMap is based on [Wazimap](https://github.

[2016-11-08 14:29] ravinepal commented on #106
Cliff,

Thank you for the suggestion. Looks good to me. Please go ahead & make the
update!

On Tuesday, November 8, 2016, Clifton McIntosh <notifications@github.com>
wrote:

--

*@ravinepal <http://www.twitter.com/ravinepal>*
[image: http://ravinepal.com]

Ravi Kumar @RaviNepal
[image: http://]www.ravinepal.com
<http://ravinepal.com>

[2016-11-09 00:12] #86 closed

[2016-11-09 00:12] #68 closed

[2016-11-09 01:50] cliftonmcintosh opened #109 "Find VDCs with census data that are not yet mapped"
Among the VDCs and municipalities in the [census-data project](https://github.com/Code4Nepal/census-data/tree/master/districts), there are a handful that are not mapped to geo data. It would be good if we could map them to one of the VDC-level locations we have in our maps. However, there may not be a mapping. The mapping data and census data come from different sources. It may be that these VDCs

[2016-11-09 01:53] cliftonmcintosh opened #110 "Two VDCs named Dolalghat in Kavrepalanchok"
There are two VDCs in our geo data that have the same name in Kavrepalanchok. Is one of them mis-named? If so, what the correct names for these VDCs?

http://www.nepalmap.org/profiles/vdc-150-dolalghat/

[2016-11-10 01:59] cliftonmcintosh commented on #109
Possible matches:

Sindhupalchok
DHUMTHANG -> vdc 351 "Dhuyang" fits in location in Google maps
BHOTANG -> vdc 385 "Motang" fits in Google Maps location. Wikipedia lists Motang and Bhotang as names for the same place

Bara
PRASAUNA -> vdc 919 "na" fits in location in Google Maps
BASATPUR -> vdc 871 "Bhaganpur"  fits in location in Google Maps

Attached is a list of all the vdc-level entries from t

[2016-11-16 12:44] #106 closed

[2016-11-16 13:02] cliftonmcintosh opened #113 "What should we do about areas (like national parks) that have no census data?"
There are some locations in our geo files that have no census data.
[Here](https://github.com/Code4Nepal/nepalmap_app/files/594679/geo-areas-missing-census-data.xlsx) is a spreadsheet of them. Most of them are parks and wildlife reserves.

When someone selects one of these areas, an error occurs because there is no data to retrieve.

I propose we add data showing a zero for each statistic for thes

[2016-11-18 02:46] ravinepal commented on #113
@cliftonmcintosh -- zero sounds fine. perhaps more accurate would be "not available"?

[2016-11-18 02:48] ravinepal commented on #66
Thanks for the clairfication, Cliff!

[2016-11-18 02:48] #66 closed

[2016-11-18 18:55] cliftonmcintosh commented on #113
The statistics I was wondering about marking as zero are numbers and I don't believe those columns will handle anything else.

[2016-11-20 21:16] ravinepal commented on #113
zero sounds good.

[2016-11-20 21:25] ravinepal commented on #110
I have asked people. Hope to get back soon.

[2016-11-20 23:08] #109 closed

[2016-11-20 23:55] cliftonmcintosh commented on #109
@ravinepal

Some of the geo-data VDCs that are identified in this issue have not yet been mapped to VDCs in the census-data. Not all of them were solved by #112.  We can either re-open this issue or open a new issue for the rest of them.

[2016-11-22 02:01] #44 closed

[2016-11-26 21:39] #113 closed

[2016-11-26 22:55] cliftonmcintosh opened #117 "Update the images in the "Exploring data" section with images that have the new C4N colored charts"
These images are part of the "Exploring data" section. They are screenshots of NepalMap. The charts now have the C4N colors, so it might be nice to update the images so that they are screenshots for the current color scheme.

http://nepalmap.org/static/img/examples/section_overview.png
http://nepalmap.org/static/img/examples/hover_over_graph.png

[2016-11-27 03:41] ravinepal opened #118 "create FB bot that will answer qs about Nepal data"
is it possible that we program a fb bot in a way that would respond to user's data related questions if there's info on NepalMap?

if it's useful here's white house fb chatbot: https://github.com/WhiteHouse/fb_messenger_bot

[2016-11-27 20:55] cliftonmcintosh commented on #14
@ravinepal

Is [field of study](https://github.com/Code4Nepal/data/blob/master/datasets/census/population_field_of_study.csv) our next data set still?

[2016-11-29 02:06] #117 closed

[2016-11-29 02:40] cliftonmcintosh opened #121 "Is there any reason not to merge the current code into the master branch?"
We've been operating exclusively on the dev branch. I propose we merge the current dev branch into master and that we update nepalmap.org so that it is built from the master branch.

If we want to verify changes before pushing to nepalmap.org, we can do so by committing to the dev branch and update the test server at http://nmtest.southcentralus.cloudapp.azure.com/. Once we are satisfied with a ch

[2016-11-29 03:00] ravinepal commented on #121
fine with me :)

[2016-11-29 03:01] ravinepal commented on #14
@cliftonmcintosh yes!

[2016-11-29 04:04] studenton commented on #121
Sounds good.

On Tue 29 Nov, 2016, 8:45 AM ravinepal, <notifications@github.com> wrote:

[2016-11-29 15:32] studenton commented on #74
Possible solution: [Django Compressor](https://django-compressor.readthedocs.io/en/latest/scenarios/) suggested on the Python Users Group Nepal.

[2016-12-08 06:49] prashishh commented on #121
+1

[2016-12-08 06:50] prashishh commented on #118
This is a great idea @ravinepal. I will do some research on this.

Love it.

[2016-12-10 01:58] ravinepal commented on #110
i haven't found response yet :(

[2016-12-24 15:22] ravinepal commented on #118
@prashishh -- i wanted to see if you got chance to look into this or ask other c4n members to do so

[2016-12-31 15:19] ravinepal opened #122 "comment from user regarding VDCs"
"2 VDCs in Syangja, Birgha Archale and Biruwa Archale have been swiped with each other."

"The names are swiped with each other. As per the map, the geographic area of Birgha Archale has been named Biruwa Archale and vice versa."

Source: https://www.facebook.com/groups/e4nepal/10157956666190430/?notif_t=like&notif_id=1482679103818905

[2016-12-31 15:20] cliftonmcintosh commented on #122
@ravinepal

Thanks! I will take a look.

[2017-01-11 01:53] cliftonmcintosh commented on #14
@ravinepal

After field of study, which should be covered in #123, what's next? The demographics section is fairly small compared to education and households. Do we have other demographic data that should be made available?

[2017-01-11 05:50] individual-it commented on #122
easiest is just to go to www.openstreetmap.org , log in (you can use github for that), zoom to the right spot and click on "Edit" in the left corner
You can edit the map directly in your browser

[2017-01-11 14:02] cliftonmcintosh commented on #122
@individual-it

Thanks! That's good to know. I can make the change for NepalMap's data when and if @ravinepal or other members of the team feel that Facebook feedback is accurate and should be followed.

However, I don't know that part of Nepal well enough to be qualified to make the change in the underlying OpenStreetMap. I feel that that change should be done by someone with more knowledge of Sy

[2017-01-12 02:10] codefornepal commented on #14
hi @cliftonmcintosh, can we add district poverty data? it's from census 2011: https://fusiontables.google.com/DataSource?docid=1sdiBb8bc6mecplF9qR4tekcBVTEe7iLQTkoBTyAm#rows:id=1

In 2014, I visualized it here: http://codefornepal.org/2014/04/visualizing-district-level-poverty-in-nepal/

also, here's district level population by mother tongue, sex and age groupshttps://github.com/opennepal/odp-cen

[2017-01-12 02:15] ravinepal commented on #122
@prashishh - would you mind posting this qs re Syangja's two VDCs and see if someone can corroborate this claim a user made? pls see this thread for details. cc @studenton

[2017-01-12 02:16] #21 closed

[2017-01-12 02:16] cliftonmcintosh commented on #14
@ravinepal

Thanks. I can start to work on mapping the poverty levels data.

The mother tongue data may be challenging to represent in the map. From what I can tell, there are dozens of languages and some of them don't appear in all districts. That will be interesting!

[2017-01-12 02:20] ravinepal opened #125 "plan for 2021 census, and archive 2011 nepalmap"
as i think about the next census, i think we can have the current version available on 2011.nepalmap.org, when we have data from 2021 census available.

[2017-01-12 02:24] cliftonmcintosh commented on #125
You're planning in advance! I can see the value in making the old data available so that it doesn't get lost, and that sounds like a good way to do it.

[2017-01-12 02:39] ravinepal opened #126 "suggestions from a user to add more data"
-mortality/morbidity data
-natural resources data
-ownership structure
-real estate indices

Source: [Anil in Twitter](https://twitter.com/anilbhattarai/status/818480565879980033).

I have reached out to UNICEF Nepal via Twitter about mortality data.

[2017-01-12 03:52] ravinepal opened #127 "can we make 404 page interesting/useful?"
this is what we get now : http://www.nepalmap.org/profiles/nepal

[2017-01-12 06:02] studenton commented on #127
Here's the reason.

[code]

But, when I set DEBUG = False in local instance, the site breaks. The links for static resources like CSS, JS no longer work.

I read upon the issue and this [stackoverflow thread](http://stackoverflow.com/questions/5836674/why-does-debug-false-setting-make-my-django-static-files-access-fail) discusses on it. It says the site will work in production with DEBUG = False.

[2017-01-12 12:51] cliftonmcintosh commented on #127
I will take a look and see what I can learn. Wazimap Kenya has their site set up so that it displays a better view. See here, for example: https://kenya.wazimap.org/profiles/country-NP-nepal/

[2017-01-12 13:03] studenton commented on #127
We also get the same 404 page when debug is set to False.

![screenshot from 2017-01-12 18 43 13](https://cloud.githubusercontent.com/assets/8587189/21890712/12f60ebc-d8f7-11e6-8b27-f769a5fe415f.png)

The thing is CSS and JS are breaking locally. Internet forums say that it'll work on production server.

There is a mention of ALLOWED_HOSTS on [Deployment checklist](https://docs.djangoproject.com/e

[2017-01-12 19:21] prashishh commented on #127
@studenton - Hmmm.. wonder why it is not working locally.

[2017-01-12 19:23] prashishh commented on #125
2011.nepalmap.org
2021.nepalmap.org -> redirected to nepalmap.org.

Sounds right!

[2017-01-13 01:55] cliftonmcintosh commented on #127
With our setup on the servers, it turns out to be easy to make this change.

We have to set `DEBUG = True` but we don't have to worry about the `ALLOWED_HOSTS`, and it seems that is because we are using a Unix socket with nginx and gunicorn.

I am planning on merging the dev branch into master and using master on www.nepalmap.org. When I do, I will set `DEBUG = True` on the master branch and then

[2017-01-13 02:05] cliftonmcintosh commented on #127
I've done the following:

1. Merged dev into master
2. Updated master to use `DEBUG = False`
3. Set www.nepalmap.org to use master

[2017-01-13 02:05] #127 closed

[2017-01-13 02:10] #121 closed

[2017-01-13 02:10] #38 closed

[2017-01-13 07:31] prashishh commented on #127
Thank you @cliftonmcintosh.

[2017-01-19 02:47] cliftonmcintosh commented on #14
@ravinepal
For the [poverty level data](https://fusiontables.google.com/DataSource?docid=1sdiBb8bc6mecplF9qR4tekcBVTEe7iLQTkoBTyAm#rows:id=1), are there raw numbers somewhere?

[2017-01-19 19:19] ravinepal commented on #14
Thanks, @cliftonmcintosh. Yes, I beleive it's the same survey.The [data](http://dataviz.worldbank.org/t/SASEP/views/NepalTargetLevelFinal/NepalPovertyMap2011?:embed=y&:display_count=no) you found is better as it also has VDCs level info. Let's use that.

[2017-01-23 03:11] cliftonmcintosh commented on #14
@ravinepal

I have some more thoughts and questions about the poverty data.

It would be great to have data at the VDC level, but I'm not sure how to ingest the World Bank data to get VDC data. In the World Bank data, there are breakdowns for units below the district, but the local units don't correspond to the VDCs that are in the 2011 census data. For example, the first unit in the World Bank po

[2017-01-24 02:46] codefornepal commented on #14
hi @cliftonmcintosh, sounds good. yes, let's use opennepal data: https://github.com/opennepal/odp-poverty/tree/master/Poverty%20Rates%20on%20District%20Level%2C%202001-2011

I'll look for VDC level data and let you know if I find something.

[2017-02-07 03:14] cliftonmcintosh commented on #14
@ravinepal

In the [district level population by mother tongue, sex and age groups](https://github.com/opennepal/odp-census/blob/master/Population%20by%20mother%20tongue,%20sex%20and%20age%20groups/data.csv), it looks like "caste" is the "mother tongue" column. Is that correct? I assume "mother tongue" is synonymous with "language."

[2017-02-18 23:37] ravinepal commented on #118
@prashishh it'd be great have a team working on this? We can give them access to our FB page and they can start working on this :)

[2017-02-19 15:19] ravinepal commented on #118
I think the MVP of FB bot could just simply direct people to the link of certain district, VDC or municipality.

for example, when someone asks how many people have education in Kavre.
Bot could simply respond by saying "Glad you are interested in Kavre. Here's the info: http://www.nepalmap.org/profiles/district-24-kavrepalanchok/"

If someone asks about a neigborhood and we don't have that locati

[2017-02-19 19:39] cliftonmcintosh commented on #14
@ravinepal

The list includes these two items:

Can I suggest that we consider 10 year age groups as an alternative or as a first step? The reason I mention that is I think single-year and 5-year age groups will create too many data point to be displayed well. With 10-year groups, we would end up with 10 data points on a chart. Based on how our other data displays, I think 20 (or 100!) data points

[2017-02-19 19:47] cliftonmcintosh commented on #14
We also might want a re-boot on the pipeline. We've done quite a few things in the pipeline, but the priority is starting to get a little fuzzy for me. Perhaps now that the project is live, we might have a better sense of what data works well and what gaps we have. We could use that to inform an updated set of priorities.

[2017-02-20 15:18] ravinepal commented on #14
hi @cliftonmcintosh. thanks. good suggestions. yes, pls use 10 year age groups as an alternative.

should we close this issue and create a new one based on data we gather from metrics report? i'll soon be traveling with limited access to the internet. pls do what you think is the best. i'll respond to emails as soon as i can.

[2017-02-20 15:25] cliftonmcintosh commented on #14
Perhaps we should consider this approach:
- Close this issue
- Create individual issues in GitHub for each data set that should be added
- Tag each of the individual issues with a label, like "Data Pipeline"
- Prioritize them using ZenHub

[2017-02-20 15:44] ravinepal commented on #14
sounds good! please lead us :)

[2017-02-20 15:44] #14 closed

[2017-02-20 16:17] cliftonmcintosh commented on #14
I'll create individual tasks for the items in your original description of this issue (with a few modifications as necessary). We can then prioritize, de-prioritize, add new tasks, etc., as neede.

[2017-02-20 19:31] cliftonmcintosh opened #141 "Add population by 10-year age groups"
Census data for single year of age [has been converted into a CSV by Open Nepal](http://data.opennepal.net/content/population-single-year-age-and-sex-2011-12). Use this CSV to present data on age by 10-year groups: 0-9, 10-19, etc.

[2017-02-20 19:34] cliftonmcintosh opened #142 "Add data for married population by age at first marriage"
Census data for [married population aged 10 years and above by age at first marriage](http://data.opennepal.net/content/married-population-aged-10-years-and-above-age-first-marriage-2011-12) is available.

Use this to display that information

[2017-02-20 19:35] cliftonmcintosh opened #143 "Add data for population by citizenship"
Open Nepal has created a CSV based on the census data for [population by citizenship](http://data.opennepal.net/content/population-citizenship-and-sex-2011-12). Use this CSV to display that demographic information by district in NepalMap.

[2017-02-20 19:37] cliftonmcintosh opened #144 "Add data for households by female ownership of fixed assets"
I believe this is part of the 2011 census. If this has been converted to CSV by Open Nepal or another entity, use that converted data. If not, harvest the data from the census PDF.

[2017-02-20 19:37] cliftonmcintosh opened #145 "Add data about population absent from household"
I believe this is part of the 2011 census. If this has been converted to CSV by Open Nepal or another entity, use that converted data. If not, harvest the data from the census PDF.

[2017-02-20 19:38] cliftonmcintosh opened #146 "Add data for household heads by sex and age"
Is this part of the census, @ravinepal?

[2017-02-20 19:39] cliftonmcintosh opened #147 "add data for population aged 10 years and over by marital status and sex"
Is this part of the census, @ravinepal ?

[2017-02-20 19:40] cliftonmcintosh opened #148 "Add data for population by religion"
Census data detailing religion per district is in Table 8 [here](https://github.com/opennepal/datasources/blob/Population/Census/Volume05Part01.pdf), starting on page 278. Use these data to show the population by religion in each district.

[2017-02-20 19:41] cliftonmcintosh opened #149 "Add data for health facilities"
Can this data set be adapted to list the number and type of health facilities in each municipality/village?

https://data.humdata.org/dataset/nepal-health-facilities-cod

[2017-02-20 19:56] cliftonmcintosh opened #150 "Identify health-related data sets for inclusion"
Open Nepal has [many health-related data sets](http://data.opennepal.net/datasets?field_dataset_sector_tid%5B%5D=3). Identify ones that might be good to include. Create an issue for each one and link the issue to the actual data set. Data sets that work well:

- have data for each district. Even better if they have data for each VDC.
- have counts for each district.

Examples of potentially good d

[2017-02-24 16:42] studenton commented on #150
I'm participating in "Open Data Day Hackathon 2017" and we've been provided few datasets. One of them includes immunization dataset by district. Will this be helpful? @cliftonmcintosh

[Immunization dataset by district last 2 year.csv.zip](https://github.com/Code4Nepal/nepalmap_app/files/799930/Immunization.dataset.by.district.last.2.year.csv.zip)

[2017-02-24 19:14] cliftonmcintosh commented on #150
I took a quick look, and it looks promising. We would have to understand
what all the columns mean in order to make sense of it. I am not sure how
we map to overall population numbers. We can probably use data like this
even if we can't match to population numbers.

On Fri, Feb 24, 2017 at 10:42 AM Amit Chaudhary <notifications@github.com>
wrote:

[2017-03-30 04:30] tfungproj commented on #147
My first PR and I like to contribute.  I found the dataset from Open Nepal.  Please review:  https://github.com/opennepal/odp-census/blob/master/Population%20aged%2010%20years%20and%20over%20by%20marital%20status,%20sex%20and%205%20years%20age%20group/data.csv?raw=true

[2017-03-30 11:54] cliftonmcintosh commented on #147
@tfungproj

I believe that is indeed the data set for this issue, and we would welcome your contribution to NepalMap. Please feel free to claim this ticket.

Do you need any information or guidance on how to transform and integrate a data set into NepalMap? I will be happy to offer guidance or assistance when needed.

One request I have is that you would make public the tool or script you use to t

[2017-04-01 04:21] tfungproj commented on #147
@cliftonmcintosh

I will fork the project and start working on it.  I see the python scripts in https://github.com/Code4Nepal/maptools/tree/master/opennepal/odpcensus/age.py.  I can do something similar to that.  How does that sound?
What is the format expected by NepalMap?
Also, I am not sure how to "claim" this ticket?  Please advise.

thanks!

[2017-04-01 13:54] cliftonmcintosh commented on #147
@tfungproj

That all sounds good. As far as claiming a ticket goes, there is a way to assign an issue to a user, but it appear that only applies to internal team members. Instead, I will remove the Help Wanted label on this issue.

Thanks for contributing. Please let me know if you have any questions or want any guidance.

[2017-04-16 03:24] mesaugat commented on #118
I have a suggestion. If you don't want to code all of this there's a better solution.
https://chatfuel.com - **Build a Facebook bot without coding.**

Get your bot up and running in a few minutes, anyone can do it.

[2017-04-16 14:46] ksodari commented on #118
ofcourse its possible way to do... we can train our chatbot ourselves on how it will respond to our users when they input certain keywords.

[2017-04-16 21:31] prashishh commented on #118
@mesaugat @ksodari - Thanks for the heads up.

I went through ChatFuel and it was fairly easy to set up a basic chatbot. I think it is great for a tree-based conversation for Code for Nepal, but I'm curious if you have worked on integrating this with a datastore? There is an integration with Google Sheets or a JSON API. They can act like a data store if someone searches for the term - tell me abou

[2017-04-17 02:48] mesaugat commented on #118
Not worked with the JSON API in Chatfuel but just had a quick look. Only having the dataset won't do us any good. We'll need to create an API of our our own for the dataset so that we can query our API when someone asks about the census for a district.

**For Example:**

If someone asks: `What is the census of Siraha?`
We could setup Chatfuel to query our API: `http://api.ourserver/census/siraha`

[2017-04-18 23:14] ravinepal commented on #118
thanks, guys! let me bring @cliftonmcintosh to the convo as he is the expert on NepalMap and can perhaps guide us on how to efficiently create an API for NepalMap.

[2017-04-18 23:41] cliftonmcintosh commented on #118
I'm not sure what it would take to expose an API. I glanced through the Wazimap code and don't see anything, but Census Report, on which Wazimap is based, has an api: https://github.com/censusreporter/census-api

I'm not sure how it is used since both Census Reporter and Wazimap seem to deliver templated HTML views for each request. A JSON API is likely not something that comes with our framework.

[2017-04-19 07:51] vksbhandary commented on #118
Hello everyone. I have been following this issue. And i guess chatfuel isn't the best option available given it has free usage limit.
I would like to suggest another option [API.ai](https://api.ai). I don't have much working experience with this, but i have created very simple bot using this with in few minutes. (Its name is **Open data nepal**  I have hard coded to give population of Kathmandu on

[2017-04-19 08:53] mesaugat commented on #118
The problem is not **Chatfuel**. It's free as well unless you hit too many users.

[code]

Yes, https://api.ai/ is great. It has a lot of integrations. But the ease of Chatfuel is big, anyone can configure anything. No wonder it's getting popular. You don't need to deploy a bot unlike api.ai and other services. If we are planning for custom use cases then we can definitely go for api.ai. That bein

[2017-04-19 10:22] studenton commented on #118
I explored how Wazimap library is developed internally in **venv/lib/python2.7/site-packages/wazimap/views.py** and found that Wazimap already implements the census-reporter API and gives a endpoint. So I can access the projected population of Kathmandu for 2031 as

http://nepalmap.org/api/1.0/data/show/latest?table_ids=POPULATION_PROJECTION_2031&geo_ids=district-27,country-NP

It gives back a JSO

[2017-04-20 00:48] tfungproj commented on #147
@cliftonmcintosh
I am going need more guidance on how to start on it.
1. What is the final format to transform the data to? What are the fields or column headers?
2. Any detail on the code to get started will also be helpful.
Thank you

[2017-04-20 02:51] cliftonmcintosh commented on #118
That's an interesting find, @studenton

[2017-04-20 03:12] cliftonmcintosh commented on #147
@tfungproj

I believe the fields for this data set would be:
`geo_level, geo_code, sex, "age group", "marital status", total`

Here is what the first two columns in the data set would likely be turned into:
`district,68,male,10-14,Never Married,19167`
`district,68,male,10-14,Single married,43`

The geo_level for district-level data is `district`. The geo_level for the nation is data is `country`.

[2017-04-22 11:01] ravinepal commented on #118
Thank you, @mesaugat, @vksbhandary, @cliftonmcintosh. and special thanks to @studenton for that find :) We have a prototype of a bot that @ksodari and I created using Chatfuel - let me know if you guys would be interested in accessing it or contributing to it. If you just want to test it, type "Code for Nepal" in your FB messenger and let us know what you think

@ksodari - can we use text card to

[2017-04-22 11:13] mesaugat commented on #118
Great!

Maybe not. Text cards only seem to support texts. There's a [gallery card](https://help.chatfuel.com/facebook-messenger/text-cards-and-gallery-cards/whats-a-gallery-card/) that definitely supports a URL.

[2017-04-24 13:07] studenton opened #157 "Enable Offline Access"
I just came across a  site developed by google: https://hoverboard-master.firebaseapp.com. It works offline once the site is loaded on both mobile and desktop. It's some technology called "Progressive Web Apps" which they're using https://github.com/gdg-x/hoverboard.

Offline access in NepalMap can be useful for people in Nepal since they don't have 24/7 access and internet isn't available everywh

[2017-04-24 17:10] ksodari commented on #118
@ravinepal yes Sir! Gallery card can be used very efficiently on this as mentioned by @mesaugat .
Thank you all for the findings and suggestions. It should be now more smooth in upgrading the chat bot "Shanti" :)

[2017-04-24 22:19] leggsimon commented on #157
I've just come across this repo via @yourfirstpr I've had a little bit of experience using ServiceWorker while attempting a PWA for the FT. It could be an option but considering it's [browser support is limited](http://caniuse.com/#feat=serviceworkers) I'd be curious to know what Nepal's browser usage breakdown is.

[2017-04-25 00:23] ravinepal commented on #157
@studenton this is a great idea! In fact - a participant at www.digitalnepal.org conference asked me to build an app for NepalMap. I'm more excited about helping people access NepalMap offline!

[2017-04-25 06:11] studenton commented on #157
@leggsimon There is no reliable source for the data but on searching the internet, I found Chrome as the dominant one with 55% share on Desktop. On mobile, it's UC Browser and Opera Mini which don't support PWA.

Are you interested in working on the second option  **React Native**? That way we can have greater compatibility.

[2017-04-29 16:41] ravinepal commented on #118
hi @cliftonmcintosh - grateful if you could kindly advise @ksodari. pls see his comment https://github.com/Code4Nepal/nepalmap_app/issues/118#issuecomment-296749520

[2017-04-29 16:51] cliftonmcintosh commented on #118
@ksodari

Apologies for missing your question. Data in NepalMap is kept in a postgres database on the same server as the webapp. The database is not exposed externally.

When new data points are added, tables are created and data is updated via SQL statements.

Does that provide you with the information you need?

[2017-05-06 15:19] ravinepal commented on #118
thanks, @cliftonmcintosh. @ksodari does that help? @amitness - would you have time to help @ksodari build API?

[2017-05-08 01:37] cliftonmcintosh opened #158 "Add data on voters and local election bodies"

[2017-05-08 11:56] #141 closed

[2017-05-08 14:36] amitness commented on #118
Sure @ravinepal @ksodari . How are you guys coordinating on this and what's the current status?

[2017-05-13 17:25] ravinepal commented on #118
thanks, @amitness! So we have a prototype "Code for Nepal" bot - named as "Shanti". You can check it out on your fb messenger. i think we need to create API or figure out a way to use gallery in chatfuel card that definitely supports a URL. @ksodari - can you pls provide more updated to Amit

[2017-05-13 18:01] #158 closed

[2017-05-13 18:29] cliftonmcintosh opened #165 "Add data related to safe motherhood"
OpenNepal has a data set on "[safe motherhood](https://github.com/opennepal/odp-health/blob/master/Data%20related%20to%20Malaria:%20Suspected%20Malaria,%20Confirmed%20Malaria,%20Death%20%282011-14%29/data.csv)."

There are other related data sets, some newer, on OpenNepal's [health data sets](http://data.opennepal.net/datasets?field_dataset_sector_tid%5B%5D=3). We should be able to present these d

[2017-05-13 18:31] cliftonmcintosh commented on #147
@tfungproj

I wanted to see whether this is still a data set you are interested in working on. If so, please let us know if there is any guidance or assistance we can provide.

[2017-05-14 11:41] leggsimon commented on #157
As much as I would like to, I just don't think I have the time to commit to starting that project unfortunately.

[2017-05-14 15:39] cliftonmcintosh commented on #150
@ravinepal

As per our discussion via email, I have been looking at health data more closely. OpenNepal has quite a few data sets, but one of my concerns is that some of them are several years old. I have been looking at the most recent Annual Report from the Department of Health Services (available [here](http://dohs.gov.np/wp-content/uploads/2016/06/Annual_Report_FY_2071_72.pdf) as a PDF). This

[2017-05-14 16:43] ravinepal commented on #150
thanks, @cliftonmcintosh! should i reach out to open nepal team to see if they can extract these datasets? (responded to your email as well.)

[2017-05-14 17:32] cliftonmcintosh commented on #150
@ravinepal

Thanks for offering to reach out to Open Nepal for extracting the data, but I would like to try my hand at it for a couple of datasets first. This will allow me to convert the data in a way that is useful for NepalMap. Moving to a format that is useful for us from the format delivered by theTabula PDF converter is likely to be no more difficult than moving from the way OpenNepal presen

[2017-05-14 17:46] ravinepal commented on #150
sounds good, @cliftonmcintosh! @amitness has extracted some of census data in the past - so looping him to see if he can advise/help as well

[2017-05-15 11:39] amitness commented on #150
@ravinepal  @cliftonmcintosh Tabula is the best way to go. There is this useful wrapper for tabula in python called [tabula-py](https://github.com/chezou/tabula-py). Also here is the [Example](https://github.com/chezou/tabula-py/blob/master/examples/tabula_example.ipynb) on using it.

[2017-05-15 13:00] cliftonmcintosh commented on #150
@amitness Thanks for the tips

[2017-05-21 06:19] AbhayGoyal commented on #69
How can i get hold of the software to write the step by step process?

[2017-05-21 06:21] AbhayGoyal commented on #56
I guess it would be great if we could get it and redirect it to the right people

[2017-05-22 11:37] AbsoluteZero273 commented on #157
is JSON API not ready yet? I can try experimenting with React Native if I can get the details of what app should look like and includes

[2017-05-22 11:44] amitness commented on #157
@AbsoluteZero273 There is a creative freedom on how it should look. Basically, we want to make this information available: http://nepalmap.org/profiles/district-27-kathmandu/

[2017-05-22 11:47] amitness commented on #157
@AbsoluteZero273 We do have a design scheme for C4N with the hex values: #e00015(red) and #00adef(blue) as our primary colors.

[2017-05-26 00:54] adieyal opened #170 "Incorrect adherence to licence terms"
I just had a look at the licence of your codebase and it seems that you have changed the original upstream licence.  This is probably accidental but please review the terms of the licence here:
https://github.com/Code4SA/wazimap/blob/master/LICENSE.

[2017-05-26 02:04] cliftonmcintosh commented on #170
@adieyal

Thank you for bringing this to our attention. I believe we had added the base MIT license with the understanding that it was the same. Can you please provide some guidance with regards to the license. Do we need to include the license exactly from https://github.com/Code4SA/wazimap/blob/master/LICENSE? Is the key line we are missing `Copyright (c) 2014 Census Reporter` ?

[2017-05-26 18:03] abs-zero commented on #157
My attempt at this. There's only a single screen for now.
https://github.com/abs-zero/nepalmap-app-mobile

http://i.imgur.com/wGNDEX2.jpg
@

[2017-05-26 20:43] ravinepal commented on #56
@AbhayGoyal could you explain what do you mean

[2017-05-26 21:00] ravinepal commented on #157
thanks, @abs-zero! Looks like a good start!

[2017-05-26 21:57] cliftonmcintosh commented on #170
@adieyal

We are happy to make updates. If you can provide guidance, we would appreciate it. Absent any guidance, it is my understanding that the following changes will meet the request:
1. Replace the license text with the license at https://github.com/Code4SA/wazimap/blob/master/LICENSE
2. Update the about section on [NepalMap](https://www.nepalmap.org/) to include the following:
"NepalMap is ba

[2017-05-27 07:43] adieyal commented on #170
My apologies - i was mistaken with regards to how wazimap was being used. I thought that you had cloned the project rather than used it as a library. As it stands, I think your current licence is perfect.

[2017-05-27 07:43] #170 closed

[2017-06-04 18:44] cliftonmcintosh commented on #157
@amitness and @abs-zero

With regards to JSON APIs, the Wazimap framework is limited in what it provides. If you know the route for a particular region (be it country, district or VPC) you can get the JSON data that is used to present a view.
For exampl, the data behind the view at https://nepalmap.org/profiles/district-27-kathmandu can be retrieved as JSON by adding `.json` to the end of the URL,

[2017-06-08 09:27] anarchyrucks commented on #157
@cliftonmcintosh how often do the district and vdc data change? Is it a good idea to parse and store the vdc/district to geoid/code mappings locally?

[2017-06-15 02:04] cliftonmcintosh commented on #157
@anarchyrucks My apologies for missing your question earlier. The vdcs and districts will not change frequently. The geographic data is stable. The thing that is likely to change is the census and other numerical data. These changes will be mostly additive because we are adding new data points every few weeks.

[2017-07-12 01:17] ravinepal commented on #70
closing this for now.

[2017-07-12 01:17] #70 closed

[2017-07-23 18:54] ravinepal opened #180 "data on chitwan"
Cliff - a user flagged this to me. can we check to see if the data is not being presented correctly: https://twitter.com/anilbhattarai/status/889179664287191041

[2017-07-23 20:17] cliftonmcintosh commented on #180
@ravinepal

120% is the official statistic for Chitwan. Please see page 375 [of the report](http://dohs.gov.np/annual-report/annual-report-fy-207172/). I mentioned in [my pull request](https://github.com/Code4Nepal/nepalmap_app/pull/174) for those data that there were potential problems.

In our email exchange of June 1-2 (see the subject "pull request for data on maternal deaths in childbirth"),

[2017-07-23 20:31] ravinepal commented on #180
Thanks, @cliftonmcintosh. Yes, I'll respond to the Twitter user.

[2017-07-23 20:31] #180 closed

[2017-07-31 18:09] amitness opened #181 "Forest and Watershed profile of Local Level(744) Structure"
Found this on social media. Could be useful data for adding to NepalMap.

https://drive.google.com/drive/folders/1IpU27W8bWrrcpjkyK-2SnV7TXw

[2017-07-31 18:10] amitness commented on #181
@ravinepal Have a look. If it is useful, I'll work on it to convert it into CSV.

[2017-08-02 00:49] ravinepal commented on #181
Thanks, @amitness! Pls go ahead. Do you know the original data source?

Also cc'ing @cliftonmcintosh for his info.

[2017-08-02 02:19] cliftonmcintosh commented on #181
@amitness,

Here are the conditions for the data to work in the Wazimap platform:

- There is data for every unit at the district or VPC level.
- There is a numeric value that can be used for each unit at whatever level we are reporting on.

For these data, it looks like what would work well would be to have the total area of a district in square kilometres as well as the forested area of a distri

[2017-08-02 07:36] amitness commented on #181
@ravinepal I found it from here: https://www.facebook.com/rajkumarrimal/posts/10209663700813988 . He seems to be associated with the forestry department.

[2017-08-02 09:39] amitness commented on #181
I have extracted the dataset as what @cliftonmcintosh said. But there is a problem:

1. Nawalparasi has been repeated in two states Pradesh 4 as well as Pradesh 5.
2. Rukum has been repeated in two states Pradesh 5 and 6.

So we've a data like:
Rukum | 652.1 | 1212.7
Rukum | 556.5 | 1160.7

I did some research and seems the district is part of two states. For Rukum, it's divided into eastern part

[2017-08-02 09:51] amitness commented on #181
I pushed the dataset here: https://github.com/Code4Nepal/data/tree/master/datasets/forestry
The area given is in sq. km.

@cliftonmcintosh

[2017-08-02 12:12] ravinepal commented on #181
thanks, @amitness! The primary source seems to be: Ministry of Forest and Soil Conservation, based on this document: https://drive.google.com/drive/folders/1IpU27W8bWrrcpjkyK-2SnV7TXw

I wonder if Rukum and NawalParasi are located in two states? In that case - we combine the data?

[2017-08-02 12:31] amitness commented on #181
@ravinepal Yes, I combined it.

[2017-08-03 00:00] cliftonmcintosh commented on #181
@amitness

I think https://github.com/Code4Nepal/data/tree/master/datasets/forestry has 74 districts. Is there one for which we don't have data?

[2017-08-03 05:03] amitness commented on #181
@cliftonmcintosh Fixed it. Now all 75 districts data is there.

[2017-08-04 00:39] cliftonmcintosh commented on #181
@amitness

Thanks. I've tagged this as being in the data pipeline and moved it into the backlog on ZenHub.

I am currently working on a business data set. If we don't have other volunteers to work on integrating this data set, I can do it next.

[2017-08-15 17:20] amitness opened #182 "Update colors to match C4N design scheme"
Some sections where stylesheet colors are still  Wazimap defaults:
- [ ] http://nepalmap.org/data/table/?table=CHILD_NOURISHMENT&geo_ids=district-27&primary_geo_id=district-27
- [ ] **Show data** table
- [ ] Embed popup

[2017-08-27 22:05] cliftonmcintosh opened #185 "Add earthquake data"
Update NepalMap to include data on deaths and houses destroyed by district in the earthquake

https://codefornepal.carto.com/tables/merge_of_earthquake_deaths_2c_houses_destroyed/public

[2017-08-27 22:06] cliftonmcintosh opened #186 "Add 2017 flood data"
District level data for flood damage in the 2017 floods.

http://codefornepal.org/en/2017/08/nepalflood/

Statistics here: https://docs.google.com/spreadsheets/d/1MuTWPtD67VO1kbMCEpyPvlnuPsdVFHFZ1wjj7KKRyAo/edit#gid=1841636268

These are the statistics most amenable to presentation in NepalMap:
- total deaths
- damaged homes

See @ravinepal's comment below about updated data and data choices.

Dis

[2017-08-27 22:06] cliftonmcintosh opened #187 "Add data on foreign aid in Nepal"

[2017-08-27 22:09] cliftonmcintosh opened #188 "Prioritize upcoming data sets"
@ravinepal

We have several potential data sets that we can include. Can you take a minute and prioritize them?

Here are the data-set issues that I believe need prioritizing:

#181 -- forest and watershed
#185 -- earthquake
#186 -- flood
#187 --  foreign aid

We also have older issues that haven't been addressed. If some of those have data and are more important, having them go first would be goo

[2017-09-03 23:00] ravinepal commented on #188
sorry @cliftonmcintosh I missed this earlier. Thanks for the reminder. I'd say pls go ahead with these:

#181 -- forest and watershed
#185 -- earthquake

I'll soon clean data fro flood and foreign aid and share.

[2017-09-10 17:56] cliftonmcintosh commented on #181
@amitness

Is the unit of measurement in the CSV square kilometres?

[2017-09-10 20:25] cliftonmcintosh commented on #181
@amitness and @ravinepal

Do we have a direct link to the document on the Department of Soil Conservation and Water Management's website or on an official government repository? If not, can we load the original PDF of the [report](https://drive.google.com/drive/folders/1IpU27W8bWrrcpjkyK-2SnV7TXw) into our data section on GitHub?

[2017-09-11 00:57] #181 closed

[2017-09-11 05:14] amitness commented on #181
@cliftonmcintosh Actually, I got this data from a [facebook post](https://www.facebook.com/rajkumarrimal/posts/10209663700813988) by Raj Kumar Rimal, who is a Forest Officer at Department of forest. In the post, he tells

The literal translation being:
"These are the maps of Nepal federal states and local VDCs and inner areas. Please share it as much as possible. It's suitable as a atlas for every

[2017-09-11 11:11] cliftonmcintosh commented on #181
Amit,

Thanks for the context and the information. I will update the Sources link
to include that Google Drive location.

Cliff
On Mon, Sep 11, 2017 at 12:14 AM Amit Chaudhary <notifications@github.com>
wrote:

[2017-10-01 22:34] suvash commented on #187
Possible source: https://github.com/opennepal/odp-foreign-aid

[2017-10-02 00:39] ravinepal commented on #187
Guys I have downloaded the latest data. I need to normalize, clean and
share with you. Sorry for the delay. Will do in a few days

On Oct 1, 2017 6:34 PM, "Suvash Thapaliya" <notifications@github.com> wrote:

[2017-10-08 12:19] ravinepal commented on #187
Hi @suvash here's the data: https://docs.google.com/spreadsheets/d/17Bu7OxGEj2ewcoQFpu50VSNPtEojbHgb_MiNuAHitAA/edit?usp=sharing

Here's the source: http://mof.gov.np/ieccd/newsbook/20160424154147.pdf   (Annex 3)

[2017-10-08 12:27] ravinepal commented on #157
Hi @abs-zero - I hope you had good dashain! If you have MVP of the app of NepalMap, we can work with you to deploy it via our server.

[2017-10-08 14:18] cliftonmcintosh commented on #187
@ravinepal and @suvash

Sheet 2 of that spreadsheet should be easy to display, with "Total number of projects" and "Total actual disbursement" as separate data points. If Suvash is going to work on the earthquake statistics, I can take this one on.

Ravi, the first sheet in that document has headers but no data. Was that intentional?

[2017-10-08 15:44] ravinepal commented on #187
thanks, @cliftonmcintosh. Yeah Sheet 2 is the useful one. I deleted sheet 1.

[2017-10-08 23:15] suvash commented on #187
Haven't quite gotten to it. Hopefully, I'll have some more time this week to poke around the earthquake dataset.

[2017-10-08 23:16] cliftonmcintosh commented on #187
I will do the foreign aid data too allow you to work on the earthquake data

On Sun, Oct 8, 2017, 6:15 PM Suvash Thapaliya <notifications@github.com>
wrote:

[2017-10-08 23:55] ravinepal commented on #187
@suvash - here's the flood and earthquake data (clean sheet tab): https://docs.google.com/spreadsheets/d/1WGEsVT0eiWnE34uA9-z3a4cKStcYhCvo_3ANiVzZTYk/edit?ts=59c8020a#gid=617759520

[2017-10-09 01:29] cliftonmcintosh commented on #185
@ravinepal

In https://github.com/Code4Nepal/nepalmap_app/issues/187, you mentioned a [different data set](https://docs.google.com/spreadsheets/d/1WGEsVT0eiWnE34uA9-z3a4cKStcYhCvo_3ANiVzZTYk/edit?ts=59c8020a#gid=617759520) for earthquakes and floods. That data set seems different from what is mentioned above.

As I understand it, the [carto data set above](https://codefornepal.carto.com/tables/mer

[2017-10-09 01:31] cliftonmcintosh commented on #187
To keep the issues clear, it might be useful for us to discuss the flood and earthquake data using these GitHub issues:

- earthquake: https://github.com/Code4Nepal/nepalmap_app/issues/185
- flood: https://github.com/Code4Nepal/nepalmap_app/issues/186

[2017-10-09 01:34] cliftonmcintosh commented on #185
@suvash has volunteered to work on this data set

[2017-10-09 13:30] ravinepal commented on #185
Sorry @cliftonmcintosh for providing two datasets. Yes, pls use carto data set above for the earthquake.

[2017-10-09 13:32] ravinepal commented on #186
Here's the updated flood, landslides data from 2010--08-08 to 2017-08-30 - https://docs.google.com/spreadsheets/d/1WGEsVT0eiWnE34uA9-z3a4cKStcYhCvo_3ANiVzZTYk/edit?ts=59c8020a#gid=617759520

I believe we should only visualize column B (Total (Flood+Heavy rainfall + Landslide))

[2017-10-09 13:34] ravinepal commented on #118
hi everyone, it'd be great to restart this project. @ksodari - happy to chat if you are still interested.

[2017-10-09 18:29] cliftonmcintosh commented on #187
@ravinepal

How do we do national totals for the number of projects? Are some projects ongoing in more than one district? Is each project that is listed limited to a single district?

I don't want to overcount. For example, if there is a World Bank project that is active in both Lamjung and Gorkha, we don't want to have that count as 2 projects in the national total.

Do you have guidance on how w

[2017-10-09 19:40] ravinepal commented on #187
thanks, @cliftonmcintosh. the data I shared doesn't include nationwide projects as the GoN only included district level projects in Annex 3 of this document: http://mof.gov.np/ieccd/newsbook/20160424154147.pdf (If it's ok, I'll suggest displaying district level disbursement and number projects.)

I will still need to find total number of national projects. But "**the volume of foreign aid disburse

[2017-10-09 19:55] ravinepal commented on #188
#187 -- foreign aid
#186 -- flood
#185 -- earthquake

[2017-10-09 19:56] ravinepal opened #195 "Add social media sharing function on the site"

[2017-10-09 21:25] ZoranPandovski commented on #195
@ravinepal Can you provide more info ?

[2017-10-09 21:50] abhishek71994 commented on #195
Is this open to work?

[2017-10-09 22:03] ravinepal commented on #195
thanks, @ZoranPandovski for your interest. see above.

[2017-10-09 22:03] ravinepal commented on #195
hi @abhishek71994 yes it is!

[2017-10-11 01:00] cliftonmcintosh opened #196 "Add data for age at first marriage"
OpenNepal has a [CSV of census data for age at first marriage](http://data.opennepal.net/content/married-population-aged-10-years-and-above-age-first-marriage-2011-12). Display this by district (and country) in the demographic section of NepalMap.

[2017-10-11 01:13] cliftonmcintosh opened #197 "Add data for number of children vaccinated"
OpenNepal has [health data on number of children vaccinated](http://data.opennepal.net/content/district-wise-vaccinated-number-children-and-women-2009-10-2013-14). Take the data for 2013-2014 and, in the health section of NepalMap, show the number of children vaccinated by district for each of the vaccinations that are recorded. Here is a CSV (in txt format because that's what GitHub allows) extra

[2017-10-11 01:14] #196 closed

[2017-10-11 01:27] cliftonmcintosh commented on #144
@ravinepal

Do you know where this data might be? I believe this is one of the data sets suggested when we started working on NepalMap.

[2017-10-11 02:43] PseudoAj commented on #197
This looks like an interesting project to me, I want to work on this. Can you please assign the task for me?

[2017-10-11 02:46] cliftonmcintosh commented on #197
@PseudoAj

Thank you for your interest in contributing. Please feel free to take this on. Please let me know if you have any questions.

[2017-10-11 15:36] FerranMarin commented on #148
I will work on this tonight (CET) but I'd like to know what do you exactly want to be part of this issue? The SQL script to upload it into the DB or something more?

[2017-10-12 00:45] ravinepal commented on #144
thanks, @cliftonmcintosh for brining this up. From 2011, we have "Female ownership of house & land" (Column L)  https://docs.google.com/spreadsheets/d/1RSip3Sl-H_UaoQDAL8P7J0XNd-RnOF9z6XC6zaQ1BCo/edit#gid=0

There are other datasets in the doc too that might be useful.

[2017-10-12 02:26] cliftonmcintosh commented on #148
@FerranMarin

There are several steps to adding a data set. We would welcome a contribution that accomplishes any or all of that work. First steps would be:

- extracting data from a PDF into a CSV
- converting data into a format (typically CSV) that can be used to populate a table
It is possible to do these steps as one.

The format for the data would look something like:

[code]
The mappings fro

[2017-10-12 12:44] siddas27 commented on #197
I would like to do it.

[2017-10-12 13:21] cliftonmcintosh commented on #197
@siddas27

Thank you for your interest in contributing. @PseudoAj has already said that he will work on this task. Is there another data set that might interest you?

[2017-10-13 19:22] crispg72 commented on #143
Hi @cliftonmcintosh I'd love to help out with this, do you have any guidelines on ui? Is there another pull request that made a similar change I could use as reference?

[2017-10-13 20:43] PseudoAj commented on #197
@cliftonmcintosh Just updating you on the progress, I have got acquainted with the system and navigating through source code, I expect work on this over weekend. I will update you again on Monday (PST).

[2017-10-14 01:08] cliftonmcintosh commented on #143
@crispg72

https://github.com/Code4Nepal/nepalmap_app/pull/31 is an example of a statistic that is similar. It is a demographic statistic by sex.

https://github.com/Code4Nepal/nepalmap_app/pull/17 is another similar PR.

Generally speaking, here are the steps we take to get the data into www.nepalmap.org
- convert data into a format (typically CSV) that can be used to populate a table
- write an

[2017-10-15 12:21] ravinepal opened #198 "Add district & (VDC) level solar power capacity"
It'd be great to have data on Solar resource and PV power potential in Nepal

I think data is available here: http://globalsolaratlas.info/downloads/nepal

http://globalsolaratlas.info/?c=27.595935,85.462646,6&s=27.410786,86.495361

[2017-10-15 12:22] ravinepal opened #199 "Add wind power potential"
I think here's the data: https://energydata.info/dataset/nepal-mesoscale-wind-mapping-phase1-2015

[2017-10-15 15:36] ravinepal opened #200 "Scrap municipality budget info"
http://municipality.gov.np/

We need a team of volunteers who can scrap and translate Nepali data into English.

[2017-10-15 15:40] cliftonmcintosh commented on #187
@ravinepal

I will work on the district-level totals. I do not know yet if there will be issues with not having totals for the country. I don't know how the Wazimap framework will behave. We have situations where we have national totals but not district totals and situations where we have district totals but not VDC totals. Those work okay. However, we have never tried a data set where a smaller u

[2017-10-15 15:42] cliftonmcintosh commented on #196
Duplicate of #142

[2017-10-15 16:53] cliftonmcintosh commented on #187
@ravinepal

I have tried to import the development assistance data. However, it appears that Wazimap requires that we have data at the country level as well. I believe that is because the Wazimap framework always tries to provide a comparison between the current level and the national level. See, for example, the "about the same as the figure in Nepal" and the "a little less than the amount in Nep

[2017-10-16 04:04] ujhuyz0110 commented on #200
Can you add more detail? After I clicked the link, I couldn't understand anything not to mention what data you wanna scrape.

[2017-10-16 10:58] FerranMarin commented on #148
Awesome! Thanks for the detailed guide.

Sorry for the radio silence, been away on holidays and was hard to go online. I'll start working on this :)

[2017-10-16 19:22] crispg72 commented on #143
Thanks for the detailed instructions @cliftonmcintosh so the output csv should look something like [this](https://gist.github.com/crispg72/20706fd7c047d9624fa44d70792083a4) before converting to SQL to populate the table?

What do you do for the national totals when there aren't any in the source file should they just be summed from the district totals?

[2017-10-16 19:30] cliftonmcintosh commented on #143
@crispg72

Yes, we sum up the district totals to get a national total.

[2017-10-19 22:21] cliftonmcintosh commented on #143
@crispg72

Thank you very much for your work on this issue.

@ravinepal

I should be able to update NepalMap on Sunday evening to include the new data that @crispg72 has added.

[2017-10-19 23:02] ravinepal opened #203 "Scrape data about agricultural production in Nepal"
Here's the dataset published by the Government of Nepal: http://moad.gov.np/public/uploads/1142453195-STATISTIC%20AGRICULTURE%20BOOK_2016.pdf

We'd like to scrape and visualize from the document:
Major Cereal Crops by Districts
Cash Crops by Districts
Oil Seed Crops by Districts
 Jute by Districts
 Cotton by Districts
 Tea by Districts
 Coffee by Districts
Pulses by Districts
Live Stock Population

[2017-10-19 23:17] ravinepal opened #204 "data wish list"
- "tourism of Terai reasion. What's the stats shows. Which Nationality of tourists visiting more Terai parts(Lumbini)."
historical data about nepal share market,
traffic data in Kathmandu

[2017-10-20 04:50] janakrajchadha commented on #198
Where and how exactly do you want the data to be added?
I'm still going through the repository, some more details here would be really helpful.
Thanks! 😄

[2017-10-20 07:19] crispg72 commented on #143
You're welcome, it was a pleasure @cliftonmcintosh

Initially I had a few issues on Ubuntu since I was trying on 17.04 but once I switched to 16.04 it was ok; I wouldn't mind submitting a PR to update your README.md if that would be useful?

I also have a bit of time to update some more data if you could point me in the right direction? I'm quite new to django and found it a useful learning exerci

[2017-10-20 11:35] cliftonmcintosh commented on #203
@ravinepal

Would it make sense to collect data in the [C4N data project](https://github.com/Code4Nepal/data)? This would allow people to contribute to data collection without having to take all the steps necessary to make it readable and usable by NepalMap.

For example, @robalaban has contributed a CSV of coffee production. His data set will be useful for NepalMap, but it will still require othe

[2017-10-20 11:41] ravinepal commented on #204
thanks, @san7988 for your interest. We are looking for data related to tourism, nepal share market and traffic in Kathmandu.

[2017-10-20 11:44] ravinepal commented on #200
thanks, @ujhuyz0110 for your interest. The link I provided is in Nepali. We are hoping to look at expenses and revenues of each districts, scrape those and upload on https://nepalmap.org

[2017-10-20 11:59] cliftonmcintosh commented on #143
@crispg72

An update to the readme would be useful and welcome.

We would certainly welcome more contributions. One data set that @ravinepal has prioritized is data on damages from flooding this year: https://github.com/Code4Nepal/nepalmap_app/issues/186

There is a Google Doc with the statistics referenced.

Some things to note about this data set:
- It will be the start of a new section on "Disa

[2017-10-20 12:07] cliftonmcintosh commented on #204
@ravinepal

Please keep in mind that if we do a data set, we will need data for all
districts. The Wazimap framework does not work with statistics that are for
only one or a few districts

On Fri, Oct 20, 2017, 7:41 AM ravinepal <notifications@github.com> wrote:

[2017-10-20 12:10] ravinepal commented on #204
thanks for the reminder, @cliftonmcintosh. i updated the comment. have a good weekend!

[2017-10-21 09:54] crispg72 commented on #186
Looking at this now.

Would this be done as a SimpleTable, similar to [polling places](https://github.com/Code4Nepal/nepalmap_app/blob/dev/sql/simpletables/pollingplaces.sql) for example since only one column is being visualized? This would mean just one value on the profile page.

I notice in the latest document there are values in column B for all districts.

[2017-10-21 11:35] cliftonmcintosh commented on #186
@crispg72

Yes, a SimpleTable fits for this, and I believe you are right that the beer data set has a total number of deaths for each district

[2017-10-22 20:43] FerranMarin commented on #148
Hello @cliftonmcintosh ,

Sorry for the slow pace, I finally have a csv and an sql file ready to upload. But I can only find where to place the SQL file, where should I upload the csv to?

[2017-10-22 21:31] cliftonmcintosh commented on #148
if the SQL file has the data, that is sufficient. If you would like to submit the CSV, we have a data project. We also have a "maptools" project if you would like to submit a PR that contains the script you used to create the CSV.

[2017-10-22 21:33] FerranMarin commented on #148
Do you have a link to the data project so I upload the csv? I'll be uploading the sql in a moment :)

[2017-10-22 21:35] cliftonmcintosh commented on #148
https://github.com/Code4Nepal/data

[2017-10-23 10:47] janakrajchadha commented on #198
@ravinepal Still waiting for your response. 😅

[2017-10-23 11:33] ravinepal commented on #203
Thanks, @cliftonmcintosh. That's a good idea. Let's do that. I will create this list on C4N data project.

[2017-10-23 11:36] ravinepal commented on #198
thanks, @janakrajchadha for the reminder. Sorry for the delay. We are looking to add solar power potential on a district/VDC/Municipality level.

We will add data [PVOUT – Photovoltaic power potential [kWh/kWp]](http://globalsolaratlas.info/downloads/nepal) by creating a new section "Renewable Energy Potential" I think first we need to download the district/VDC/municipality level data (CSV format)

[2017-10-23 11:41] ravinepal commented on #203
This issue has been migrated to our [data project](https://github.com/Code4Nepal/data/issues/2). Thank you in advance for helping us.

[2017-10-23 11:41] #203 closed

[2017-10-24 02:07] cliftonmcintosh commented on #143
@crispg72

https://www.nepalmap.org has been updated to include your work on citizenship and flood deaths. Thank you for your contributions.

[2017-10-24 02:07] #143 closed

[2017-10-24 02:08] cliftonmcintosh commented on #185
@suvash

Please note that @crispg72 has added a "Disasters" section to NepalMap. Your work on earthquake data should be placed in that section.

[2017-10-24 05:52] janakrajchadha commented on #198
@ravinepal Is there a recommended software for the conversion from AAIGRID/GeoTIFF format to csvs?

[2017-10-24 16:05] amitness opened #209 "VDC level metadata"
http://lgcdp.gov.np/nepal-new-structure-gaupalika-nagarpalika-list

[2017-10-25 00:30] ravinepal commented on #198
hey @janakrajchadha sorry i don't know. Perhaps try this https://mygeodata.cloud/converter/?

Also requesting @cliftonmcintosh, @prashishh, @amitness for any recommendations. thanks in advance guys!

[2017-10-25 00:31] ravinepal commented on #157
We'd be grateful for help on this from anyone who is interested :)

[2017-10-25 01:08] cliftonmcintosh commented on #198
@janakrajchadha and @ravinepal

I have not tried to convert this data type.

[2017-10-25 02:44] abs-zero commented on #157
Sorry, I have been busy lately. If anyone is willing to pick up from our incomplete work, they would be more than welcome.

I did a little research on PWA (offline caching with service workers) and found out that completely server rendered website like nepalmap is not ideal for caching because common application shell is hard to isolate, missing on the opportunity to follow "gold standard" applica

[2017-10-25 04:53] amitness commented on #209
Someone is scraping this data into CSV and will be opensourcing it soon here: https://github.com/code-geek/old_vdc_to_new_gaupalika_mapping_table

[2017-10-25 09:49] samundra commented on #200
I think the link is */ne/budget-program. All the sites seem to have similar structure. So coming up with general scraper can be easy. Download all the pdf files from the links.

e.g.
1. visit http://www.attariyamun.gov.np/ne/budget-program
2. visit links given in first column
3. download supporting documents
- most documents are in PDF format.

*Note:* These documents are in Nepali and may need to

[2017-10-25 10:41] cliftonmcintosh commented on #200
@ravinepal is this district-level data? VDC/municipality data? If it is municipal, are they the same municipalities that are in the 2011 census? Is there data for every VDC/municipality in the census?

[2017-10-25 10:44] cliftonmcintosh commented on #209
@amitness
 Is this data for the new local governments? What kind of metadata is it?

[2017-10-25 11:01] amitness commented on #209
- Municipality Name
-- Population
-- Area
-- Borders on east, west, north, south
-- Number of wards
-- Wards in the municipality and their symbol no.

[2017-10-25 11:01] amitness commented on #209
Yes, it's for the new local government.

[2017-10-25 11:16] cliftonmcintosh commented on #209
@amitness

I believe presenting this data will require a separate instance of NepalMap that is built on the new local geographical boundaries. That is because our framework is not designed to present two competing sets of geographical boundaries.

[2017-10-25 23:10] ravinepal opened #210 "Update source for Forest and land use"
http://www.dfrs.gov.np/

https://drive.google.com/file/d/0ByP0RP6wbidUdjlxOVE5M0k1Szg/view

[2017-10-27 01:08] cliftonmcintosh commented on #149
@Bezzy1999

Thank you for your interest in contributing. We would love to have this data available. At the same time, it is a data set that could be complicated to collected. For collecting these data into a CSV, here are some guidelines:
Figure out what all the different types of health facilities are. Looking over the map, I see things like "Health Post", "Sub Health Post", "Hospital", "District

[2017-10-28 23:23] Bezzy1999 commented on #149
Hi @cliftonmcintosh I have got the data into a format for importing into nepalmap and plan on doing that tomorrow.

I added this in a pr for you to check whether I have combined the health facilities into the required groups and also to check whether some of the unknown data from the GIS files are important, the output of that code currently looks like this:

[code]

Let me know your thoughts...

[2017-10-29 03:00] cliftonmcintosh commented on #149
@Bezzy1999

Thanks for all the work on this. I think having this data will be valuable.

I'm not sure how to deal with those facilities that don't match up correctly. My first thought is that given the large volume of data, some mismatched facilities will be fine. If these facilities cannot be matched to a district, then I think proceeding without them is acceptable.

For "Central Hospital" we may

[2017-10-29 10:01] ravinepal commented on #187
Hi @cliftonmcintosh - sorry i missed this earlier.

Let's calculate what we have for districts & clarify with this text:
Aid disbursement by district for fiscal Year 2014 -15 (Nationwide projects excluded)
Source: [mof.gov.np (PDF)](http://mof.gov.np/ieccd/newsbook/20160424154147.pdf)

[2017-10-29 14:50] cliftonmcintosh commented on #148
@FerranMarin

I believe there is a duplicate row in the data right now. When I ran the sql file, I got this error:

[code]

As you work on adding the data to NepalMap, that will need to be corrected.

[2017-10-29 15:01] FerranMarin commented on #148
Will double check and correct it. Gimme a few minutes :)

[2017-10-29 15:13] cliftonmcintosh commented on #148
@FerranMarin

I did a quick check by taking just the district code column and doing

[code]

It looks like there are three districts that may be off.

District 07
District 27
District 41

There are also some missing districts.
District 20
District 24
District 38

I'm not sure if this is a problem with the original data set or with the transformation

[2017-10-29 15:17] FerranMarin commented on #148
I will be checking the rest of the districts, for the previous case it was the transformation. Expect this to be done in around half hour or so.

[2017-10-29 15:49] #210 closed

[2017-10-29 15:56] ravinepal opened #214 "Add agriculture production data"
Here's the data (https://github.com/Code4Nepal/data/tree/master/datasets/agriculture)  available

Source:  [Ministry of Agriculture Development, Nepal (PDF)](http://moad.gov.np/public/uploads/1142453195-STATISTIC%20AGRICULTURE%20BOOK_2016.pdf)

Here's a [guide](https://github.com/Code4Nepal/nepalmap_app/wiki/Collecting-and-visualizing-data-in-NepalMap) on how to visualize data on NepalMap.

[2017-10-29 15:57] ravinepal commented on #200
hi @cliftonmcintosh - they are VDC/municipality and same as 2011 census. i believe there is data for every VDC/municipality.

[2017-10-29 15:59] ravinepal commented on #199
Moving this to https://github.com/Code4Nepal/data/

[2017-10-29 15:59] #199 closed

[2017-10-29 16:02] #186 closed

[2017-10-29 16:03] #58 closed

[2017-10-29 16:10] ravinepal commented on #69
Roshan created this video: https://www.facebook.com/codefornepal/videos/647380015471250/

[2017-10-29 16:10] #69 closed

[2017-10-29 16:30] cliftonmcintosh commented on #200
@ravinepal

Thank you for the clarification. Separating out data collection into the data project might allow people to contribute to that step without having to do the full import that is necessary to get it into NepalMap.

[2017-10-29 16:38] cliftonmcintosh commented on #214
Please note that the data sets sometimes include things other than districts, like "[C.REGION](https://github.com/Code4Nepal/data/blob/master/datasets/agriculture/Yak:%20Nak:%20Chauri%20Population.csv#L18)". Non-district data should be removed when importing.

Please also note that districts that have no values **may** legitimately be given a value of zero for a data point **depending on how confi

[2017-10-29 19:08] wizofe commented on #214
heya, i am interested in contributing to the project. could you guide me, in what exactly help you need? do you need to create a database, or stream the data through the main program?

I would love to be active in your project : )

[2017-10-29 19:10] wizofe commented on #118
hi @ravinepal. would you provide me on more info on what enhancements you need for your bot? i can work with AI and Markov models, if that's on your scope.

[2017-10-29 21:17] bbulpett commented on #214
I am attempting solution for #214 Add agriculture production data. Will submit pull request for approval when successful. Thank you.

[2017-10-29 21:29] cliftonmcintosh commented on #214
There is currently not an agriculture section in NepalMap. With the first agriculture data integration, the agriculture section will need to be created, much like we have sections on Demographics, Forest and Land Use, Disasters, etc.

[2017-10-29 21:30] cliftonmcintosh commented on #214
@wizofe and @bbulpett

There are several data sets for agriculture. Please submit one pull request per data set. Please also consider "claiming" a specific data set so that other people will know what is already being worked on.

[2017-10-29 21:42] cliftonmcintosh commented on #214
As I mentioned earlier, some data sets may not be complete because we lack data for some districts. They should not be included without further analysis.
Here is a list of data sets that appear to be complete enough to work on:

- [Egg production](https://github.com/Code4Nepal/data/blob/master/datasets/agriculture/Egg%20Production.csv)
- [Livestock production](https://github.com/Code4Nepal/data/bl

[2017-10-29 21:57] bbulpett commented on #214
Thank you @cliftonmcintosh for the explanation. Setting up my dev environment now. Will begin by adding Agriculture section. I will then start work on the **Egg production** data set.

[2017-10-29 22:18] wizofe commented on #214
@cliftonmcintosh @bbulpett I am going to do the _Milk Animals and Milk Production_.

[2017-10-29 22:36] cliftonmcintosh commented on #214
Thanks, @wizofe and @bbulpett

[2017-10-29 23:39] cliftonmcintosh commented on #214
@bbulpett and @wizofe

It is perfectly fine to submit the work in steps. For example, you could submit a PR with just the SQL files for the statistics in your data sets. Like this one for [forests](https://github.com/Code4Nepal/nepalmap_app/blob/dev/sql/landuse.sql).

Also please note that your data set may contain more than one data point, and each one would require its own integration into Nepal

[2017-10-29 23:40] cliftonmcintosh commented on #214
@nikeshbalami

What is the unit for milk in the milk data? Litres?

[2017-10-30 01:08] nikeshbalami commented on #214
Hi @cliftonmcintosh its
Unit: Mt.

[2017-10-30 02:31] cliftonmcintosh commented on #214
What is an "Mt."?

[2017-10-30 02:38] nikeshbalami commented on #214
It's a "Metric Ton (Mt.)" @cliftonmcintosh

[2017-10-30 02:42] cliftonmcintosh commented on #214
Thanks

[2017-10-30 10:04] ravinepal commented on #118
thanks a  lot, @wizofe! We have a prototype of a bot that we created using Chatfuel. If you just want to test it, type "Code for Nepal" in your FB messenger and let us know what you think. Or test via our page by sending us a message: https://www.facebook.com/codefornepal/

Basically, we are trying to make a bot respond to users' queries about data on Nepal. We have tons of Nepal data here: https:

[2017-10-31 01:08] ravinepal opened #216 "Create AMP version of https://nepalmap.org landing page"
"Accelerated Mobile Pages (AMP) lets you create web pages that load near instantaneously. Create AMP versions of your landing pages to help improve your mobile user experience."

https://support.google.com/adwords/answer/7384020

[2017-10-31 08:52] Bezzy1999 commented on #214
Hi @cliftonmcintosh I took the liberty of adding the meat production data in https://github.com/Code4Nepal/nepalmap_app/pull/217 since it wasn't claimed by anyone else.

[2017-11-01 01:51] #149 closed

[2017-11-01 01:55] cliftonmcintosh commented on #148
@FerranMarin,

Are you interested in and able to take the next steps to integrate the data into NepalMap? Your contribution would be welcome. If you do not have the time to do the next steps, I will invite others to contribute.

[2017-11-01 14:08] FerranMarin commented on #148
I'd love to, but I believe my workload at my actual work will increase in the next few weeks, if someone else is interested in catching up from where I left, that's ok with me.  :)

[2017-11-01 14:39] cliftonmcintosh commented on #148
Thanks for what you've done so far. I'll see if I or someone else can complete the integration of the data soon

[2018-01-21 09:36] suvash commented on #185
Hi again. I'm barely being able to make time to work on this :( I'll give it a go again sometime soon. If I'm not able to come back in a month, feel free to reassign @cliftonmcintosh

[2018-02-11 15:39] pradhulstha commented on #195
Hi, I was interested in contributing to this project. Can I make contributions to this project?

[2018-02-11 17:02] ravinepal commented on #195
hi @pradhulstha - yes pld do! We'd be grateful!

[2018-04-11 01:52] ravinepal commented on #185
I believe this has been resolved.

[2018-04-11 01:52] #185 closed

[2018-04-21 19:07] #216 closed

[2018-04-27 01:13] #187 closed

[2018-04-27 01:25] ravinepal commented on #144
I suppose I will close this. We can look for new data.

[2018-04-27 01:25] #144 closed

[2018-04-27 01:25] ravinepal commented on #188
closing this for now. We can create a new issue when we are ready.

[2018-04-27 01:25] #188 closed

[2018-04-27 01:28] #148 closed

[2018-04-27 01:29] ravinepal commented on #182
@amitness - am closing this for now. pls feel free to reopen if you would like...

[2018-04-27 01:29] #182 closed

[2018-04-27 01:30] #142 closed

[2018-04-27 01:31] ravinepal commented on #29
@aishraj it'd be great to see if someone from Bay area is interested in working on this!

[2018-04-27 01:34] ravinepal commented on #118
@aishraj and @spaudel -- flagging this to you. grateful if you someone from Bay area could help with this if possible!

[2018-04-27 01:35] #209 closed

[2018-04-27 01:42] ravinepal opened #229 "resources for new boundaries of Nepal"
- [shape files for provinces ](https://codefornepal.carto.com/viz/185ef9cc-bb89-4a63-8802-c25e50c547a0/public_map) (admin level 1)
- district shape files remains the same
- [PDF file from the gov with nagarpalika and gaupalika ](http://lgcdp.gov.np/nepal-new-structure-gaupalika-nagarpalika-list) (Likely admin level 3/4 - need to verify and confirm)

**more info will be added. if you know of better

[2018-04-27 16:15] aishraj commented on #118
@ravinepal Sure! Currently most of us here in the Bay Area have been working around the Akshar digital literature  portal. But I remember a few folks expired desires work on this in the past. I'll double check if anyone is still interested

[2018-06-09 13:48] anarchyrucks commented on #157
Hi, @amitness @ravinepal @cliftonmcintosh @abs-zero I created a cross-platform MVP app (currently only tested on Android) for NepalMap. Currently, it just parses JSON API to create the UI but the next step is to make it work offline. I just open sourced it in https://gitlab.com/neptronix/nepalmap.

PS: Before you ask, yes #MoveToGitLab! 😄

[2018-06-09 14:50] ravinepal commented on #157
@anarchyrucks this is great! Thank you so much! We'd love to work with you more, test it and launch the app. We are also planning to update NepalMap to mirror Nepal's new federal boundaries. More soon. We just forked your app: https://gitlab.com/codefornepal/nepalmap

[2018-06-09 20:51] anarchyrucks commented on #157
@ravinepal I'll be looking forward to working with you guys as well. Cheers.

[2018-06-16 22:19] cliftonmcintosh commented on #214
@nikeshbalami and @ravinepal

I'm working on the [egg data](https://github.com/Code4Nepal/data/blob/master/datasets/agriculture/Egg%20Production.csv), and it seems like it must be incorrect. The number of hens and ducks is much, much higher than the number of eggs laid. For example, there are over 12 million laying hens but only about 1.3 million hen eggs laid. That means there is only one egg for

[2018-06-17 02:54] nikeshbalami commented on #214
Thanks @cliftonmcintosh and so sorry, I forget to add "Unit" in all datasets which had created a problem. Will be taking care of it from now-onwards while scrapping data.

[2018-06-17 14:37] cliftonmcintosh commented on #214
@nikeshbalami

No worries. Thanks for the response.

[2018-08-22 10:18] hr21 commented on #118
well i think creating a chatbot is a nice idea but n facebook, they do have a platform called chatfuel which is intended for creation of chatbots and linking the to a particular page on facebook. fb does charge on that but trust me its worth it because facebook would itself want to improve in every possible day, it is the biggest step for creating chatbots without any coding

[2018-11-07 02:09] cliftonmcintosh opened #239 "Upgrade wazimap to 1.0.0"
Version 1.0.0 introduces breaking changes to Wazimap.
See the version history at https://wazimap.readthedocs.io/en/latest/version_history.html

Update the project so that it is compatible with Wazimap 1.0.0.

[2018-12-01 18:28] cliftonmcintosh opened #242 "Add a navigation bar that links to each of the data sections in NepalMap"
Wazimap South Africa has a nice bar across the top that links to each of the subject areas in Wazimap. See https://wazimap.co.za/profiles/country-ZA-south-africa/

Figure out how to do this for NepalMap and update NepalMap so that it has a subject navigation bar at the top.

![topic-bar](https://user-images.githubusercontent.com/3824492/49331614-aa273b80-f565-11e8-9e55-0c7ae09973c5.png)

[2018-12-01 18:31] cliftonmcintosh opened #243 "Modernize the look and feel of NepalMap"
Counting India has very nice modern layout that looks much like Google's Material Design approach. See https://www.countingindia.com/profiles/country-IN-india/. Notice how each section has a card-like quality that is more modern than the older style that we are using.

Determine if we can update NepalMap with similar improvements. If not, explain why. If we can, submit a design proposal before pro

[2018-12-01 18:34] cliftonmcintosh opened #244 "Change how we separate numbers"
Counting India presents numbers in ways that fit better with the numbering system used in Nepal and its neighbors. Figure out how to change our settings so that we can do that, too.

![lakh-based-numbering](https://user-images.githubusercontent.com/3824492/49331597-65030980-f565-11e8-92a4-09f03da70f90.png)

[2018-12-01 22:59] ravinepal commented on #243
Thank you @cliftonmcintosh. I support the idea of thinking about new designs for NepalMap. @arlexgole would you like to advise or support us on this? Thank you

[2018-12-05 09:06] devbks commented on #243
Agreed @cliftonmcintosh
NepalMap ui looks old, i'll work on some prototype

[2018-12-05 09:10] devbks commented on #204
@ravinepal  for the historical NEPSE data, is the scrapped data considerable ?

[2018-12-05 09:16] devbks commented on #157
Hi there @ravinepal ,
i can help with the cross platform mobile app. if we are looking forward for it.

[2018-12-05 16:01] arlexgole commented on #243
@ravinepal I can help out. Is the focus just on updating the UI?

[2018-12-05 16:56] ravinepal commented on #243
Thank you

Thank you, @arlexgole. It'd be great to update UI & IX.

I'd prefer to keep the same color schemes. These are our brand color schemes.

Red: #E00015
Blue: #00ADEF
White: #FFFFFF light gray: #FCFBFB

[2019-02-13 04:08] arlexgole commented on #243
Let me know if you have any feedback and I can update the designs.

![home](https://user-images.githubusercontent.com/32579978/52686266-ed653980-2f1a-11e9-9651-5718671a932e.png)

![dashboard](https://user-images.githubusercontent.com/32579978/52686268-efc79380-2f1a-11e9-8a45-3134f556555f.png)

[2019-02-15 04:19] ravinepal commented on #243
Thank you, @arlexgole! much appreciated. I like it. @cliftonmcintosh @pratimakandel @devbks what do you guys think?

[2019-02-15 04:21] ravinepal commented on #242
@pratimakandel - would you be interested in looking into this, please if you have time?

[2019-02-17 16:45] cliftonmcintosh commented on #243
Yes, those are nice improvements. Thank you very much, @arlexgole, for working on this. Is this something that can be updated directly in our projects without forking/hacking the underlying wazimap framework?

[2019-03-02 20:34] cliftonmcintosh opened #246 "Update "Find facts" gloss"
The "Find facts" description should also be revised. It says

It should be updated to include all the categories of data that are currently available or re-worded so that it doesn't sound like there are only two categories of data available.

[2019-04-21 14:31] cliftonmcintosh commented on #243
@arlexgole

Are you still interested in taking this on?

[2019-04-21 14:33] cliftonmcintosh commented on #242
@arlexgole offered a prototype for #243 that includes navigation on the left side. See https://github.com/Code4Nepal/nepalmap_app/issues/243#issuecomment-463049728

[2019-05-01 19:07] arlexgole commented on #243
Yes but I am not too sure about how the wazimap framework works. Is there an engineer who I can work with to try to possibly implement the designs? I can also try to look into the code myself.

[2019-07-09 15:10] aflowNYC opened #250 "population inconsistencies in religion table"
According to this table, there are more Hindus than there are Nepalis! It reports 52 million people living in Nepal—nearly 2X the amount reported in age_sex (26,493,087).

[2019-09-02 19:00] cliftonmcintosh commented on #244
Thanks @pratimakandel

Done in #251

[2019-09-02 19:00] #244 closed

[2019-12-03 16:45] ishan-dongol commented on #243
I can help you with that @arlexgole . @ravinepal